<div class="phone-numbers">
  <h3 class="info-section-title">
    <span>Телефони</span>
    <span class="info-manage-button pull-right"
          data-ng-click="vm.openAddPhoneNumberModal()"
          data-ng-if="vm.isOwner()">
      <i class="fa fa-plus"
         aria-hidden="true"
         title="Додати розклад роботи"
      ></i>
    </span>
    <ul class="phone-numbers-list">
      <li class="phone-numbers-item"
          data-ng-repeat="elem in vm.options.institution.phoneNumbers"
      >
        <span data-ng-bind="elem.rawNumber"></span>
        <span class="fa fa-pencil edit-button pull-right"
              title="Редагувати"
              data-ng-click="vm.openAddPhoneNumberModal(elem)"></span>
      </li>
    </ul>
  </h3>
</div>