<div class="infinite-select form-group">
  <select ng-options="item as item[vm.config.propertyToShow] for item in vm.config.tree track by item.id"
          data-ng-model="vm.selected"
          data-ng-change="vm.onBaseOptionChanged()"
          class="form-control"
          data-ng-required="vm.config.requiredAll"
          name="base-select">
    <option value=''>Оберіть категорію</option>
  </select>

  <div ng-repeat="options in vm.config.selectedList track by $index">
    <select ng-options="item as item[vm.config.propertyToShow] for item in options.children track by item.id"
            data-ng-model="vm.selectedSubLoc[options.id]"
            data-ng-if="options.children"
            data-ng-change="vm.onOptionChanged(options.id, $index)"
            class="form-control"
            data-ng-required="vm.config.requiredAll"
            data-ng-attr-name="{{'child-select' + $index}}">
      <option value=''>Оберіть підкатегорію</option>
    </select>
  </div>
</div>

