<div class="infinite-select">
  <select ng-options="item as item.name for item in vm.config.tree track by item.id"
          data-ng-model="vm.selected"
          data-ng-change="vm.onBaseOptionChanged()">
    <option value=''>Оберіть категорію</option>
  </select>

  <div ng-repeat="options in vm.selectedOptionsList track by $index">
    <select ng-options="item as item.name for item in options.children track by item.id"
            data-ng-model="vm.selectedSubLoc[options.id]"
            data-ng-if="options.children"
            data-ng-change="vm.onOptionChanged(options.id, $index)">
      <option value=''>Choose Region</option>
    </select>
  </div>
</div>

