<div class="container-fluid home-view">
  <div class="row search-block">
    <button class="dt-btn btn btn-primary add-institution-button"
            data-ng-click="vm.goToCreateState()">
      Додати Секцію
    </button>
    <div class="col-md-8 col-md-offset-2">
      <div class="search-wrapper">
        <p class="search-panel-title">
          <span>Знайди спортивні секції поруч:</span>
        </p>
        <div data-free-search
             data-config="vm.freeSearchConfig"
        ></div>
      </div>
    </div>
  </div>
  <div class="row news-block">
    <div class="col-md-9">
      <div class="news-list">
        <ul class="articles-list items-list"
            data-infinite-scroll="vm.loadMoreArticles()"
            data-infinite-scroll-distance="0">
          <div data-preloader
               data-ng-if="vm.news.isLoadInProcess"
          ></div>
          <li data-ng-repeat="article in vm.news.data track by article.id">
            <div data-article-block
                 data-article="article"
            >
            </div>
            <div class="block-separator" data-ng-if="!$last"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div data-suggestions-list
      ></div>
    </div>
    <a class="btn btn-default dt-btn url-button"
       data-ui-sref="news.news-list"
    >НОВИНИ</a>
  </div>
  <div class="row last-added-block">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-5ths col-sm-6"
             data-ng-repeat="institution in vm.institutions.data track by institution.id"
        >
          <div data-institution-thumbnail
               data-institution="institution"
          ></div>
        </div>
      </div>
    </div>
    <a class="btn btn-default dt-btn url-button"
       data-ui-sref="institutions.all-state">ОСТАННІ ДОДАНІ</a>
  </div>
</div>

