<div class="profile-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <select-image data-image="vm.image"
                      data-config="vm.selImgConfig"
                      data-editable="vm.isOwnerOrAdmin()">
        </select-image>
      </div>
      <div class="col-md-9">
        <div class="user-info">
          <h1 data-ng-bind="vm.inst.title"></h1>

          <location-string data-map-config="vm.mapConfig"
                           data-ng-if="vm.mapConfig"
          ></location-string>

          <p data-ng-bind="vm.inst.description"></p>

          <a ui-sref="manage-inst({id: vm.inst.id})"
             data-ng-if="vm.isOwnerOrAdmin()"
             class="btn btn-default">
            <i class="fa fa-pencil"></i>
            <span>редагувати</span>
          </a>
          <add-image data-config="vm.addImageConfig">

          </add-image>
          <!--<button class="btn btn-default"-->
                  <!--data-ng-click="vm.openAddMediaModal()"-->
                  <!--data-ng-if="vm.isOwnerOrAdmin()">-->
            <!--<i class="fa fa-video-camera" aria-hidden="true"></i>-->
            <!--<span>Додати відео</span>-->
          <!--</button>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div data-ng-repeat="photo in vm.photos track by photo.id" class="col-md-4">
        <media-item data-item="photo">
        </media-item>
      </div>
    </div>
  </div>
</div>
