<div class="institution-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <select-image data-image="vm.image"
                      data-config="vm.selImgConfig"
                      data-editable="vm.isOwnerOrAdmin()">
        </select-image>
      </div>
      <div class="col-md-9">
        <div class="inst-info">
          <h1 class="inst-title" data-ng-bind="vm.inst.title"></h1>

          <location-string data-map-config="vm.mapConfig"
                           data-ng-if="vm.mapConfig"
          ></location-string>

          <div class="inst-description"
               data-truncate
               data-ng-bind="vm.inst.description"
               data-ng-if="vm.inst.description"
               data-toggle="true"
               data-ng-class="{'full-length': !vm.isStoryDescriptionTruncated}"
               >
          </div>

          <a ui-sref="manage-inst({id: vm.inst.id})"
             data-ng-if="vm.isOwnerOrAdmin()"
             class="btn btn-default">
            <i class="fa fa-pencil"></i>
            <span>редагувати</span>
          </a>
          <add-image data-config="vm.addImageConfig"
                     data-ng-if="vm.isOwnerOrAdmin()">
          </add-image>
          <!--<button class="btn btn-default"-->
                  <!--data-ng-click="vm.openAddMediaModal()"-->
                  <!--data-ng-if="vm.isOwnerOrAdmin()">-->
            <!--<i class="fa fa-video-camera" aria-hidden="true"></i>-->
            <!--<span>Додати відео</span>-->
          <!--</button>-->
        </div>
      </div>
    </div>
    <div class="institution-photos">
      <div class="row">
        <div data-ng-repeat="photo in vm.photos track by photo.id" class="col-md-4">
          <media-item data-item="photo" data-is-owner="vm.isOwnerOrAdmin()">
          </media-item>
        </div>
      </div>
    </div>
  </div>
</div>
