.about-state {
  margin-top: -20px;

  .about-banner {
    padding-bottom: 50px;
    padding-top: 70px;
    background-image: url("../images/about-banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0, 0.5);
    }

    .banner-text {
      color: white;
      font-size: 19px;
    }

    .logo-column {
      text-align: center;
    }

    .text-column {

    }
  }


  .about-text {
    .about-text-title {
      font-size: 27px;
      color: $text-color-dark;
    }

    .about-text-text {
      font-size: 19px;
      color: $text-color-light;
    }
  }

  .about-social {
    i {
      font-size: 200px;
      color:$logo-color;
    }
    p {
      font-size: 25px;
    }
  }

}
.credit-card {
  background-color: #777777;
  background-size: cover;
  background-position: center;
}
.credit-card-text  {
    margin-left: 25px;
    color: white;
    font-size: 19px;
    padding-top: 50px;
  }
.credit-card-div  span {
  padding-top:10px;
}
.credit-card-div img {
  padding-top:30px;
}
.credit-card-div .small-font {
  font-size:9px;
}
.credit-card-div .pad-adjust {
  padding-top:10px;
}



