.article-view {
  overflow: hidden;

  .article-header {
    overflow: hidden;

    .article-main-image {
      float: left;
      img {
        max-width: 100%;
      }
    }

    .article-title {
      h1 {
        padding: 0;
        margin: 10px 0 0 15px;
        font-size: 22px;
        font-weight: 400;
      }
    }

    margin-bottom: 15px;
  }

  .article-snippet {
    font-style: italic;
    color: $logo-color;
  }

  .article-text {
    font-size: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    img {
      max-width: 75%;
    }
  }

  .note-video-clip {
    max-width: 100%;
  }
}