.btn {
  &.dt-btn {
    border: 2px solid $logo-color;
    background-color: transparent;
    padding: 0 10px;
    outline: none !important;
    height: 30px;
    line-height: 26px;
    color: $text-color-light;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus, &:active, &:hover, &.active {
      outline: none;
      background-color: $logo-color;
      color: #fff;
    }

    &.dt-btn-sm {
      height: 25px;
      line-height: 21px;
      font-size: 12px;
    }

    &.btn-preloader {
      img {
        display: inline-block;
        height: 20px;
      }
    }

    &.dt-action-btn {
      height: 45px;
      line-height: 41px;
      min-width: 130px;
      font-size: 18px;
    }

    &.btn-primary {
      background-color: #fff;

      &:hover, &:active, &:focus {
        background: $logo-color;
        color: #fff;
      }
    }
  }
}
