.dashboard-view {
  .admin-buttons {
    padding: 20px;

    .btn {
      margin-right: 10px;
    }
  }

  .items-list {
    list-style-type: none;

    .item-link {
      display: block;
      font-size: 15px;
      padding: 10px 0;
      color: $text-color-dark;
      text-decoration: none;

      &:hover {
        color: $active-color;
      }
    }
  }
}