.footer {
  padding: 10px;
  border-top: 2px solid $logo-color;
  margin-top: 15px;

  .footer-socials {
    letter-spacing: 20px;
    text-align: center;

    .social-circle {
      display: inline-block;
      font-size: 34px;
      color: $logo-color;

      &:hover {
        color: $text-color-dark;
      }
    }
  }

  .copyright {
    line-height: 48px;
    color: $text-color-light;
    text-align: center;

    .fa {
      font-size: 20px;
    }

    .copyright-text {
      font-size: 17px;
    }
  }
}