
.dt-form {
  .form-group {
    margin-bottom: 10px;

    .form-control {
      margin-bottom: 10px;
    }

    .form-label {
      display: block;
    }

    &.inline-addon {
      input {
        display: inline-block;

        &.form-control {
          margin-right: 10px;
        }
      }

    }
  }

  .ng-dirty {
    &.ng-invalid {
      border-color: $invalid-color;
      background-color: $invalid-background;
    }
    &.ng-invalid-time {
      background-color: transparent;
    }
  }

  .has-error {
    input, button select {
      border-color: $invalid-color;
      background-color: $invalid-background;
    }
  }

  input, button, select {
    &.has-error {
      border-color: $invalid-color;
      background-color: $invalid-background;
    }
  }

  input[type=number] {
    max-width: 150px;
  }

  select {
    -webkit-appearance: none;
    width: auto;
    min-width: 300px;
    background-image: url('../icons/chevron-down.svg');
    background-position: 95% center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
  }
}


.errors-list {
  .alert {
    padding: 8px 10px;
    margin-bottom: 10px;
  }
}