.institution-view {
  .inst-navigation {
    padding-top: 20px;
    padding-bottom: 20px;

    .dt-nav-pill {
      display: block;
      height: 30px;
      padding: 0 8px;
      margin-right: 10px;
      border-radius: 3px;
      line-height: 30px;
      background-color: transparent;
      color: $logo-color;

      .button-icon {
        display: none;
      }

      &.active, &:hover {
        color: #fff;
        background-color: $logo-color;
      }
    }
  }

  .select-image-box {
    border-radius: 50%;
    overflow: hidden;
  }

  .inst-info {
    .inst-title {
      font-size: 22px;
      margin: 0;
      padding-bottom: 6px;
      color: $logo-color;
    }

    .location-string {
      margin-bottom: 5px;
    }

    .inst-description {
      overflow: hidden;
      margin-bottom: 10px;
      max-height: 85px;

      .truncate-addon {
        display: inline-block;
        color: $logo-color;
        text-decoration: underline;
        font-style: italic;
        cursor: pointer;
        margin-left: 7px;


        &:hover, :focus {
          text-decoration: none;
        }
      }

      &.full-length {
        max-height: none;
      }
    }
  }

  .institution-manage-buttons {
    .admin-button.dt-btn {
      margin-right: 7px;
    }

    .add-image-wrapper {

    }
  }



  @media screen and (max-width: $break-small) {
    .institution-main-photo {
      padding: 15px 0;
    }

    .inst-info {
      .inst-title {
        text-align: center;
      }
    }

    .media-item {
      margin-bottom: 15px;
    }

    .inst-navigation {
      .dt-nav-pill {
        border: 2px solid $logo-color;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 46px;
        font-size: 21px;

        .button-icon {
          display: inline-block;
        }

        .button-text {
          display: none;
        }
      }
    }

  }

  @media screen and (max-width: $break-extra-small) {
    .admin-button.dt-btn {
      display: block;
      margin-bottom: 10px;
      height: 40px;
      line-height: 36px;
      font-size: 17px;
      width: 100%;
    }
  }


}

.institutions-view {
  .institutions-blocks {
    margin-bottom: 15px;
  }

  .add-section {
    padding-top: 30px;
  }
}