.institution-thumbnail {
  box-shadow: -2px 4px 30px 0 rgba(103, 122, 141, 0.17);
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;

  .thumbnail-photo {
    position: relative;

    img {
      width: 100%;
      overflow: hidden;
    }
  }

  .thumbnail-info {
    padding: 2px 8px 8px 8px;
    height: 81px;
    position: relative;

    .category-button {
      position: absolute;
      left: 8px;
      bottom: 8px;
      max-width: calc(100% - 16px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .thumbnail-title {
      display: block;
      max-height: 55px;
      border: 1px solid #fff;
      border-radius: 4px;
      color: $text-color-dark;
      text-decoration: none;
      font-size: 15px;
      padding-top: 0;
      text-transform: capitalize;
      overflow: hidden;

      &:focus, &:active, &:hover {
        text-decoration: underline;
      }
    }
  }

}