.institution-view {
  .inst-navigation {
    padding-top: 20px;

    .dt-nav-pill {
      display: block;
      height: 30px;
      padding: 0 8px;
      margin-right: 10px;
      border-radius: 3px;
      line-height: 30px;
      background-color: transparent;
      color: $logo-color;

      &.active, &:hover {
        color: #fff;
        background-color: $logo-color;
      }
    }

  }

  .institution-photos, .institution-videos {
    padding-top: 30px;
  }

  .select-image-box {
    border-radius: 50%;
    overflow: hidden;
  }

  .inst-info {
    .inst-title {
      font-size: 22px;
      margin: 0;
      padding-bottom: 6px;
      color: $logo-color;
    }

    .location-string {
      margin-bottom: 5px;
    }

    .inst-description {
      overflow: hidden;
      margin-bottom: 10px;
      max-height: 85px;

      a {
        display: inline-block;
        color: $logo-color;
        text-decoration: underline;
        font-style: italic;
        cursor: pointer;
        margin-left: 7px;


        &:hover, :focus {
          text-decoration: none;
        }
      }

      &.full-length {
        max-height: none;
      }
    }
  }
}