.institution-block {
  .inst-block-title {
    font-size: 18px;
    margin: 0;
    padding-bottom: 6px;
    font-weight: normal;
    text-transform: capitalize;
    color: $text-color-dark;
  }

  .location-string {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .inst-block-description {
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 60px;
    color: $text-color-light;
  }
}