.institution-view {
  .institution-photos {
    padding-top: 30px;
  }

  .select-image-box {
    border-radius: 50%;
    overflow: hidden;
  }

  .inst-info {
    .inst-title {
      font-size: 22px;
      margin: 0;
      padding-bottom: 6px;
      color: $logo-color;
    }

    .location-string {
      margin-bottom: 5px;
    }

    .inst-description {
      overflow: hidden;
      margin-bottom: 10px;
    }
  }
}