.profile-view {

  .user-profile {
    margin-bottom: 20px;

    .select-image-box {
      border-radius: 50%;
      overflow: hidden;
    }

    .user-info {
      padding: 10px 0;

      .user-name {
        font-size: 19px;
        color: $text-color-dark;
      }
    }
  }

  .profile-manage-buttons {
    .profile-button {
      margin-right: 6px;
    }

    @media screen and (max-width: $break-extra-small) {
      .dt-btn {
        display: block;
        margin-bottom: 10px;
        height: 40px;
        line-height: 36px;
        font-size: 17px;
        width: 100%;
      }
    }
  }

  .profile-institutions {
    padding-bottom: 15px;
  }

}