.schedule {

  .add-schedule-button {
    margin-top: -12px;
  }

  .working-time-item {
    position: relative;
    margin-bottom: 10px;

    .preloader {
      text-align: left;
    }

    .edit-schedule-button {
      position: absolute;
      right: 0;
      bottom: 10px;
    }

    .schedule-name {
      color: $text-color-dark;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }


    .working-time-days {
      list-style-type: none;
      margin-left: 0;
      margin-top: 5px;

      .day-title {
        display: inline-block;
        min-width: 80px;
        text-transform: capitalize;
        font-size: 15px;
      }

      .working-day-from-to {
        display: inline-block;
        border-left: 2px solid $logo-color;
        padding: 1px 4px;
        margin-bottom: 10px;
        color: $text-color-light;
      }
    }
  }
}