.schedule {
  .schedule-button {
    display: inline-block;
    height: 41px;
    width: 41px;
    border: 2px solid $logo-color;
    line-height: 37px;
    color: $logo-color;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 21px;

    &:hover {
      background-color: $logo-color;
      color: #fff;
    }
  }


  .add-schedule-button {
    margin-top: -12px;
  }

  .working-time-item {
    position: relative;

    .edit-schedule-button {
      position: absolute;
      right: 0;
      bottom: 10px;
    }

    .schedule-name {
      color: $text-color-dark;
      font-size: 16px;
      font-weight: 500;
    }


    .working-time-days {
      list-style-type: none;
      margin-left: 0;

      .day-title {
        display: inline-block;
        min-width: 80px;
        text-transform: capitalize;
        font-size: 15px;
      }

      .working-day-from-to {
        display: inline-block;
        border: 2px solid $logo-color;
        border-radius: 3px;
        padding: 1px 4px;
        margin-bottom: 10px;
      }
    }
  }
}