.select-image-container {
  width: 100%;
  .select-image-box {
    width: 100%;
    position: relative;
    img {
      width: 100%;
    }
    .select-image-overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
      text-align: center;
      line-height: 100%;
      a {
        border: 1px solid #fff;
        border-radius: 0;
        margin-top: calc(50% - 17px);
        vertical-align: center;
        text-transform: uppercase;
        &:hover {
          color: #fff;
        }
      }
    }
    &.image-editable {
      &:hover {
        .select-image-overlay {
          display: block;
        }
      }
    }
  }
  #photo-input, .select-image {
    display: none;
  }
}