.shell {
  .main-header {
    margin-bottom: 20px;
    border-bottom: 2px solid $logo-color;
    padding-bottom: 10px;

    .inner-header {
      max-width: 1200px;
      margin: 0 auto;
    }

    .left-header {
      white-space: nowrap;
      padding-top: 15px;

      .site-logo {
        display: inline-block;
        margin-left: 30px;

        img {
          height: 45px;
        }
      }

      .site-name {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        padding-left: 10px;
        color: $logo-color;

        h1 {
          font-size: 21px;
          font-weight: normal;
          margin: 0;
          padding: 0;
        }
      }
    }

    .navigation {
      list-style-type: none;
      margin: 0;
      padding-top: 20px;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 0 15px;

          span {
            display: block;
            height: 30px;
            line-height: 30px;
            padding: 0 8px;
            color: $logo-color;
            border-radius: 3px;
          }

          &:hover, &.active, &:focus {
            text-decoration: none;
            span {
              background-color: $logo-color;
              color: #fff;
            }
          }
        }
      }
    }
  }
}