.shell {
  .main-header {
    margin-bottom: 20px;
    border-bottom: 2px solid $logo-color;
    padding-bottom: 10px;

    .inner-header {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
    }

    .left-header {
      white-space: nowrap;
      padding-top: 15px;

      .site-logo {
        display: inline-block;
        margin-left: 30px;

        img {
          height: 45px;
        }
      }

      .site-name {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        padding-left: 10px;
        a {
          color: $logo-color;
        }


        h1 {
          font-size: 21px;
          font-weight: normal;
          margin: 0;
          padding: 0;
        }
      }
    }

    .navigation {
      list-style-type: none;
      margin: 0;
      padding-top: 20px;
      -webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
      transition: height 0.3s;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 0 15px;

          span {
            display: block;
            height: 30px;
            line-height: 30px;
            padding: 0 8px;
            color: $logo-color;
            border-radius: 3px;
          }

          &:hover, &.active, &:focus {
            text-decoration: none;
            span {
              background-color: $logo-color;
              color: #fff;
            }
          }
        }

        &.narrow-only {
          display: none;
        }
      }
    }

    .toggle-header {
      display: none;
      position: absolute;
      right: 15px;
      top: 0;
      padding: 5px;
      font-size: 44px;
      cursor: pointer;
      color: $logo-color;

      &:hover {
        color: $text-color-light;
      }
    }

    .profile-button {
      position: absolute;
      right: 15px;
      top: 0;
      padding: 10px;
      font-size: 34px;
      cursor: pointer;

      a {
        color: $logo-color;

        &:hover {
          color: $text-color-light;
          opacity: 0.7;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .toggle-header {
        display: block;
      }

      .left-header {
        .site-logo {
          margin-left: 0;
        }
      }

      .profile-button {
        top: 2px;
        right: 68px;
      }

      .navigation {
        padding-left: 0;
        height: 1px;
        overflow: hidden;
        padding-top: 0;

        li {
          display: block;
          margin-top: 8px;

          a {
            display: inline-block;
          }
        }

        &.expanded {
          height: 236px;
          padding-top: 8px;
        }
      }
    }

    @media screen and (max-width: $break-extra-small) {
      .navigation {
        li {
          a {
            display: block;
            text-align: center;
          }
        }
      }
    }

    @media screen and (max-width: 340px) {
      .profile-button {
        display: none;
      }

      .navigation {
        li {
          &.narrow-only {
            display: block;
          }
        }
      }
    }
  }

  .content-block {
    max-width: 1200px;
    margin: 0 auto;

    &.wide-view {
      max-width: none;
    }

    &.full-height {
      min-height: calc(100vh - 163px);
    }
  }
}