.shell {
  .main-header {
    height: 65px;
    line-height: 65px;
    margin-bottom: 10px;

    .left-header {
      white-space: nowrap;

      .site-logo {
        display: inline-block;
        margin-left: 30px;

        img {
          height: 45px;
        }
      }

      .site-name {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        padding-left: 10px;
        color: $logo-color;

        h1 {
          font-size: 21px;
          font-weight: normal;
          margin: 0;
          padding: 0;
        }
      }
    }

    .navigation {
      list-style-type: none;
      margin: 0;

      li {
        display: inline-block;
        a {
          color: $logo-color;
          display: block;
          padding: 0 15px;
          font-size: 16px;

          &:hover, &.active, &:focus {
            text-decoration: none;
            color: $active-color;
          }
        }
      }
    }
  }
}