.cats-navigation {
  .cat-history {
    clear: both;
    overflow: hidden;
    padding-bottom: 10px;

    .cat-thumbnail {
      position: relative;
      float: left;
    }
  }

  .cat-thumbnail {
    display: inline-block;
    height: 41px;
    width: 41px;
    border-radius: 50%;
    border: 2px solid $logo-color;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
    line-height: 39px;
    color: $logo-color;
    text-transform: uppercase;

    &.last-thumbnail:after {
      content: '';
      display: block;
      clear: both;
    }

    &.active {
      background-color: $logo-color;
      color: #fff;
    }

    .cat-thumbnail-arrow {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: -17px;
      height: 3px;
      width: 15px;
      background-color: $logo-color;;

      &.preciding {
        right: auto;
        left: -17px;
      }
    }
  }

  .previous-cat-controls {
    position: relative;

    .cat-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
    }

    .active-cat-title {
      white-space: nowrap;
      height: 41px;
      line-height: 41px;
      margin: 0;
      padding-left: 50px;
      color: $text-color-grey;
      text-transform: capitalize;
      font-size: 16px;
    }
  }

  .categories-list {
    list-style-type: none;
    padding-left: 46px;

    li {
      margin-bottom: 5px;
    }

    .category-link {
      position: relative;
      display: block;
      padding: 3px 8px 3px 8px;
      border-radius: 4px;
      color: $text-color-grey;
      text-transform: capitalize;
      font-size: 14px;

      span {
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.has-children {
        padding-right: 33px;
      }
      &.active, &:hover, &:focus {
        background-color: $logo-color;
        color: #fff;
        text-decoration: none;

        .children-icon {
          color: #fff;
        }
      }
    }

    .children-icon {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      font-size: 17px;
      color: $text-color-grey;
      padding: 4px 7px;
    }
  }
}