@import 'variables';
@import 'shell';
@import 'home';
@import 'select-image';
@import 'cropper';
@import 'general';
@import 'auth';
@import 'profile';
@import 'edit-profile';
@import 'forms';
@import 'tree';
@import 'dashboard';
@import 'google-maps';
@import 'manage-inst';
@import 'media-item';
@import 'institution';
@import 'smart-navigation';
@import 'location-string';
@import 'dot-dot-dot';
@import 'institution-block';
@import 'photoswipe';
@import 'video-modal';
@import 'manage-video';
@import 'timepicker';
@import 'working-day.directive';
@import 'institution-info';
@import 'schedule';
@import 'phone-numbers';
@import 'comments';
