

.video-modal-wrap {

  &+ .modal-backdrop.in {
    opacity: 0.8;
  }

  .close {

  }

  .modal-dialog {

    .modal-content {
      background-color: transparent;
      box-shadow: none;
    }

    .modal-body {
      padding: 0;
      position: relative;

      .close {
        position: absolute;
        top: -28px;
        right: -28px;
        color: #fff;
        font-size: 32px;
      }
    }
  }


  .video-modal {
    .embed-responsive {
      position: relative;
      display: block;
      height: 0;
      padding: 0;
      overflow: hidden;
    }

    .embed-responsive.embed-responsive-16by9 {
      padding-bottom: 56.25%;
    }

    .embed-responsive-item {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

