<div class="working-days-manage">
  <div class="working-day-form">
    <div class="alert alert-warning" role="alert" data-ng-if="vm.isDefaultScheduleWarningVisible()">
      Ви вже встановили загальний розклад роботи.
      Ви можете використовувати загальний розклад роботи або розклад занять груп.
      Щоб встановити розклад занять груп, вам необхідно видалити загальний розклад роботи.
    </div>

    <div class="alert alert-warning" role="alert" data-ng-if="vm.isGroupScheduleWarningVisible()">
      Ви вже встановили розклад занять однієї з груп.
      Ви можете використовувати загальний розклад роботи або розклад занять груп.
      Щоб встановити загальний розклад роботи, вам необхідно видалити розклади занять всіх груп.
    </div>
    <form name="vm.infoform" class="dt-form">
      <div class="form-check" data-ng-if="vm.areScheduleTypeOptionsVisible()">
        <label class="form-check-label">
          <input class="form-check-input"
                 type="radio"
                 data-ng-model="vm.scheduleItem.isDefaultSchedule"
                 data-ng-value="true"
                 data-ng-change="vm.setPristine()"
          >
          Додати загальний розклад роботи
        </label>
      </div>
      <div class="form-check" data-ng-if="vm.areScheduleTypeOptionsVisible()">
        <label class="form-check-label">
          <input class="form-check-input"
                 type="radio"
                 data-ng-model="vm.scheduleItem.isDefaultSchedule"
                 data-ng-value="false"
                 data-ng-change="vm.setPristine()"
          >
          Додати розклад занять однієї з груп
        </label>
      </div>
      <div class="form-group" data-ng-if="!vm.scheduleItem.isDefaultSchedule">
        <label class="form-label" for="name-input">Назва:</label>
        <input type="text"
               class="form-control"
               data-ng-model="vm.scheduleItem.name"
               placeholder="Молодша група (6-12 років)"
               id="name-input"
               data-ng-required="true"
               data-ng-trim="true"
        >
      </div>
    </form>
    <form name="vm.form">
      <div class="input-group">
        <label>Оберіть день тижня:</label>
        <select class="working-day-select form-control"
                data-ng-options="day.dayNumber as day.dayName for day in vm.daysOfWeek | filter: vm.optionsFilter"
                data-ng-model="vm.workingDay.dayNumber"
                data-ng-change="vm.onDaySelectChange()"
                data-ng-class="{'has-error': !vm.workingDay.isDayNumberValid}"
        >
          <option value=''>Оберіть день</option>
        </select>
      </div>

      <div class="timepicker-wrapper" data-ng-class="{'has-error': !vm.workingDay.isStartValid}">
        <label>Від:</label>
        <div data-uib-timepicker
             data-ng-model="vm.workingDay.start"
             data-ng-change="vm.workingDay.clearErrors()"
             data-hour-step="1"
             data-minute-step="1"
             data-show-meridian="false"
             data-template-url="layout/working-day/layouts/timepicker.html"
        ></div>
      </div>

      <div class="timepicker-wrapper" data-ng-class="{'has-error': !vm.workingDay.isEndValid}">
        <label>До:</label>
        <div data-uib-timepicker
             data-ng-model="vm.workingDay.end"
             data-ng-change="vm.workingDay.clearErrors()"
             data-hour-step="1"
             data-minute-step="1"
             data-show-meridian="false"
             data-template-url="layout/working-day/layouts/timepicker.html"
        ></div>
      </div>

      <div class="input-group submit-button">
        <button class="btn btn-sm btn-default" data-ng-click="vm.submitWorkingDay()">Додати</button>
      </div>
    </form>
  </div>

  <div class="errors-list">
    <div class="alert alert-danger" role="alert" data-ng-if="!vm.workingDay.isDayNumberValid">
      Оберіть, будь ласка, день тижня.
    </div>
    <div class="alert alert-danger" role="alert" data-ng-if="!vm.workingDay.isStartValid">
      Вкажіть час початку роботи.
    </div>
    <div class="alert alert-danger" role="alert" data-ng-if="!vm.workingDay.isEndValid">
      Вкажіть час завершення роботи.
    </div>
  </div>

  <div class="working-days-list">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info"
          data-ng-repeat="day in vm.scheduleItem.workingDays | orderBy:'dayNumber' track by day.dayNumber">
        <span class="working-day-info-wrapper">
          <span class="working-day-label">День тижня:</span>
          <span data-ng-bind="vm.workingDaysService.getDayTitle(day.dayNumber)"></span>
        </span>

        <span class="working-day-info-wrapper">
          <span class="working-day-label">Від:</span>
          <span data-ng-bind="vm.workingDaysService.getTimeFormatted(day.start)"></span>
        </span>

        <span class="working-day-info-wrapper">
          <span class="working-day-label">До:</span>
          <span data-ng-bind="vm.workingDaysService.getTimeFormatted(day.end)"></span>
        </span>

        <span class="remove-working-day pull-right" data-ng-click="vm.removeWorkingDay(day)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </li>
    </ul>
  </div>

  <div>
    <button class="btn btn-default pull-right" data-ng-click="vm.submit()">Зберегти</button>
    <button class="btn btn-warning" data-ng-click="vm.removeSchedule()">Видалити</button>
  </div>

</div>



