<div class="schedule">
  <div class="row">
    <div class="col-md-4">
      <h3 class="info-section-title">
        <span>Розклад Роботи</span>
        <button class="btn btn-default dt-btn dt-btn-sm pull-right"
                data-ng-click="vm.openWorkingHoursModal()"
                data-ng-if="vm.isOwner()"
        >
          <span>Додати</span>
        </button>
      </h3>
      <span data-ng-if="vm.workingDays.isEmpty()">Не вказано.</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" data-ng-repeat="schedule in vm.workingDays.data track by schedule.id">
      <div class="working-time-item">
        <p data-ng-if="!schedule.isDefaultSchedule"
              class="schedule-name"
        >
          <span data-ng-bind="schedule.name"></span><span>:</span>
        </p>
        <div data-preloader
             data-ng-if="schedule.isLoadInProcess"
        ></div>
        <div class="working-time-days" data-ng-if="!schedule.isLoadInProcess">
          <div class="working-time-day" data-ng-repeat="day in schedule.workingDays | orderBy:'dayNumber' track by day.dayNumber">
            <span data-ng-bind="vm.workingDaysService.getDayTitle(day.dayNumber)" class="day-title"></span>
            <span class="working-day-from-to">
              <span data-ng-bind="vm.workingDaysService.getTimeFormatted(day.start)"></span>
              <span>-</span>
              <span data-ng-bind="vm.workingDaysService.getTimeFormatted(day.end)"></span>
            </span>
          </div>
        </div>
        <button class="btn btn-default dt-btn dt-btn-sm"
                data-ng-click="vm.openWorkingHoursModal(schedule)"
                data-ng-if="vm.isOwner()"
        >
          <span data-ng-if="!schedule.isDefaultSchedule">Редагувати розклад групи</span>
          <span data-ng-if="schedule.isDefaultSchedule">Редагувати розклад</span>
        </button>
      </div>
    </div>
  </div>
</div>