<div class="confirm-view auth-view">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="auth-form-container">
          <div class="auth-form">
            <form class="dt-form sign-form forgot-form">
              <div class="form-group" data-ng-show="!vm.isLoadInProcess && !vm.successMessage">
                <label for="forgot-password-password"
                       class="form-label"
                >
                  <span>Вкажіть новий пароль:</span>
                </label>
                <input type="password"
                       id="forgot-password-password"
                       class="form-control"
                       data-ng-model="vm.password.original"
                       placeholder="вкажіть пароль"
                       ng-required="true"
                       data-ng-change="vm.resetErrors()"
                       data-ng-trim="true"
                >
                <input type="password"
                       id="forgot-password-password-confirm"
                       class="form-control"
                       data-ng-model="vm.password.confirmation"
                       placeholder="повторіть пароль"
                       ng-required="true"
                       data-ng-change="vm.resetErrors()"
                       data-ng-trim="true"
                >
                <button data-ng-click="vm.submit()"
                        class="btn btn-default dt-btn"
                >
                  Змінити
                </button>
              </div>
            </form>
            <div data-preloader
                 data-ng-if="vm.isLoadInProcess"
            ></div>
            <div class="error-message"
                 data-ng-if="vm.errorMessage"
            >
              <p class="error-text"
                 data-ng-bind="vm.errorMessage"
              ></p>
            </div>
            <div class="success-message"
                 data-ng-if="vm.successMessage"
            >
              <p class="success-text"
                 data-ng-bind="vm.successMessage"
              ></p>
            </div>
            <a ui-sref="login.signin"
               class="btn btn-default dt-btn under-text-button"
               data-ng-if="vm.successMessage"
            >Увійти на сайт</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
