<div class="institution-photos">
  <div class="row">
    <div data-ng-repeat="photo in vm.photos.data track by photo.id"
         class="col-md-4"
         data-infinite-scroll="vm.loadMore()"
         data-infinite-scroll-distance="0"
    >
      <media-item data-item="photo"
                  data-is-owner="vm.isOwnerOrAdmin()"
                  data-ng-click="vm.initPhotoSwipe($index)">
      </media-item>
    </div>
  </div>
  <div data-preloader
       data-ng-if="vm.photos.isLoadInProcess"
  ></div>
  <p data-ng-if="vm.photos.allMediaItemsLoaded" class="text-center">
    <span>Усі фото відображено.</span>
  </p>
</div>