<div class="manage-video">
  <div class="modal-header">
    <button type="button"
            class="close"
            data-ng-click="$dismiss()"
    >
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Закрити</span>
    </button>
    <h4 class="modal-title" id="{{$index}}-label" data-ng-bind="vm.modalTitle"></h4>
  </div>
  <div class="modal-body">
    <form class="dt-form">
      <div class="input-group">
        <label class="form-label"
               for="manage-phone-number-input"
               data-ng-bind="vm.actionTitle"
        ></label>
        <input type="text"
               id="manage-phone-number-input"
               class="form-control"
               data-ng-model="vm.rawNumber"
               data-ng-disabled="vm.isLoadInProcess"
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-sm btn-danger pull-left"
            ng-click="vm.remove()"
            data-ng-if="vm.isEditState"
    >Видалити</button>
    <button type="button"
            class="btn btn-sm btn-default"
            data-ng-click="vm.submit()"
            data-ng-disabled="vm.isLoadInProcess"
    >Зберегти</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Скасувати</button>
  </div>
</div>
