<div class="unit-block institution-block">
  <div class="unit-block-image">
    <a data-ui-sref="institutions.institution({id: vm.inst.id})" class="inst-block-image">
      <img data-ng-if="vm.inst.imgUrl"
           data-ng-src="{{vm.inst.imgUrl}}"
           data-preload-image
           data-default-image="content/images/preloader.gif"
      >
      <img data-ng-if="!vm.inst.imgUrl" src="content/images/placeholder_cropped.jpg" alt="">
    </a>
  </div>
  <div class="unit-block-info">
    <div class="inst-block-info">
      <a data-ui-sref="institutions.institution({id: vm.inst.id})"
      >
        <h3 class="inst-block-title" data-ng-bind="vm.inst.title"></h3>
      </a>
      <location-string data-map-config="vm.mapConfig"
                       data-ng-if="vm.mapConfig"
      ></location-string>
      <div class="inst-block-description"
           data-truncate
           data-ng-if="vm.inst.description"
           data-ng-bind="vm.inst.description"
      >
      </div>
    </div>
  </div>
</div>