<div class="share-buttons">
    <a href=""
       socialshare
       socialshare-provider="facebook"
       socialshare-text="{{vm.text}}"
       socialshare-hashtags="{{vm.hashtags}}"
       socialshare-url="{{vm.url}}"
       class="btn dt-btn"
       title="Поділитись у Twitter!"
    >
        <span class="fa fa-facebook"></span>
        <span>Поділитися!</span>
    </a>
    <a href=""
       socialshare
       socialshare-provider="twitter"
       socialshare-text="{{vm.text}}"
       socialshare-hashtags="{{vm.hashtags}}"
       socialshare-url="{{vm.url}}"
       class="btn dt-btn"
       title="Поділитись у Twitter!"
    >
        <span class="fa fa-twitter"></span>
        <span>Твітнути!</span>
    </a>
</div>