<div class="comments">
  <div class="comments-textarea">
    <div class="user-photo">
      <img data-ng-src="{{vm.users.current.smallPhotoUrl}}"
           data-ng-show="vm.users.current && vm.users.current.smallPhotoUrl">
      <img data-ng-hide="vm.users.current.smallPhotoUrl"
           src="content/images/placeholder_cropped.jpg"
           class="image-placeholder">
    </div>

    <div class="comment-form">
      <form name="vm.form">
        <div class="dt-form">
          <div class="form-group">
           <textarea name="comment-textarea"
                     id="comments-textarea"
                     class="form-control"
                     placeholder="Ваш відгук..."
                     data-ng-model="vm.commentData.text"
                     data-ng-required="true"
           ></textarea>
            <button class="btn btn-default pull-right" data-ng-click="vm.submit()">Відправити</button>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div>
    <ul class="comments-list">
      <li data-ng-repeat="comment in vm.comments.data track by $index"
          class="comment-item"
      >
          <div class="author-photo">
            <img ng-src="{{comment.author.smallPhotoUrl}}"
                 data-ng-if="comment.author.smallPhotoUrl">
            <img data-ng-hide="comment.author.smallPhotoUrl"
                 src="content/images/placeholder_cropped.jpg"
                 class="image-placeholder">
          </div>
          <div class="comment-info">
            <p class="author-name"
               data-ng-bind="vm.getAuthorFullName(comment.author)"
            ></p>
            <p class="comment-text"
               data-ng-bind="comment.text"
               data-ng-if="comment.text"
               data-truncate
               data-toggle="true"
            ></p>
            <span class="comment-date">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span data-ng-bind="comment.getCreatedAtFromNow()"
              ></span>
            </span>
            <span data-ng-click="vm.setActiveCommentId(comment.id)">
              <span>Відповісти</span>
            </span>
          </div>

        <div class="comment-answers">
          <ul class="comments-list">
            <li data-ng-repeat="answer in comment.answers track by $index"
                class="comment-item"
            >
              <div class="author-photo">
                <img ng-src="{{answer.author.smallPhotoUrl}}"
                     data-ng-if="answer.author.smallPhotoUrl">
                <img data-ng-hide="answer.author.smallPhotoUrl"
                     src="content/images/placeholder_cropped.jpg"
                     class="image-placeholder">
              </div>
              <div class="comment-info">
                <p class="author-name"
                   data-ng-bind="vm.getAuthorFullName(answer.author)"
                ></p>
                <p class="comment-text"
                   data-ng-bind="answer.text"
                   data-ng-if="answer.text"
                   data-truncate
                   data-toggle="true"
                ></p>
            <span class="comment-date">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span data-ng-bind="answer.getCreatedAtFromNow()"
              ></span>
            </span>
            <span data-ng-click="vm.setActiveCommentId(comment.id)">
              <span>Відповісти</span>
            </span></div>
            </li>
          </ul>
        </div>

        <div class="comment-answer-block comments-textarea"
             data-ng-if="vm.isAnswerFormVisible(comment.id)">
          <div class="user-photo">
            <img data-ng-src="{{vm.users.current.smallPhotoUrl}}"
                 data-ng-show="vm.users.current && vm.users.current.smallPhotoUrl">
            <img data-ng-hide="vm.users.current.smallPhotoUrl"
                 src="content/images/placeholder_cropped.jpg"
                 class="image-placeholder">
          </div>

          <div class="comment-form">
            <form name="vm.answerform">
              <div class="dt-form">
                <div class="form-group">
                   <textarea name="comment-textarea"
                             id="comments-textarea"
                             class="form-control"
                             placeholder="Ваша відповідь..."
                             data-ng-model="vm.commentAnswer.text"
                             data-ng-required="true"
                   ></textarea>
                  <button class="btn btn-default pull-right"
                          data-ng-click="vm.submitAnswer(comment.id)"
                  >Відповісти</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="comment-separator"></div>
      </li>
    </ul>
  </div>
</div>