<div class="dt-google-map">
     <div data-ng-if="vm.config.searchField" class="dt-google-map-autocomplete-wrap form-group dt-form">
          <input id="dt-google-map-autocomplete"
                 type="text"
                 class="form-control"
                 data-ng-model="vm.config.address"
                 data-ng-class="{'ng-invalid ng-dirty': vm.config.showError}"
          >
     </div>
     <div class="alert alert-danger" role="alert" data-ng-if="vm.config.showError">
          Почніть вводити адресу та оберіть один із запропонованих пунктів.
     </div>
     <div data-ng-attr-id="{{vm.config.id}}"
          class="google-map"
          data-lat="{{vm.config.lat}}"
          data-long="{{vm.config.lng}}"
     >
     </div>
</div>
