.shell .main-header {
  margin-bottom: 20px;
  border-bottom: 2px solid #656565;
  padding-bottom: 10px; }
  .shell .main-header .inner-header {
    max-width: 1200px;
    margin: 0 auto;
    position: relative; }
  .shell .main-header .left-header {
    white-space: nowrap;
    padding-top: 15px; }
    .shell .main-header .left-header .site-logo {
      display: inline-block;
      margin-left: 30px; }
      .shell .main-header .left-header .site-logo img {
        height: 45px; }
    .shell .main-header .left-header .site-name {
      display: inline-block;
      font-family: 'Poppins', sans-serif;
      padding-left: 10px; }
      .shell .main-header .left-header .site-name a {
        color: #656565; }
      .shell .main-header .left-header .site-name h1 {
        font-size: 21px;
        font-weight: normal;
        margin: 0;
        padding: 0; }
  .shell .main-header .navigation {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    -webkit-transition: all 0.3s;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.3s; }
    .shell .main-header .navigation li {
      display: inline-block; }
      .shell .main-header .navigation li a {
        display: block;
        padding: 0 15px; }
        .shell .main-header .navigation li a span {
          display: block;
          height: 30px;
          line-height: 30px;
          padding: 0 8px;
          color: #656565;
          border-radius: 3px; }
        .shell .main-header .navigation li a:hover, .shell .main-header .navigation li a.active, .shell .main-header .navigation li a:focus {
          text-decoration: none; }
          .shell .main-header .navigation li a:hover span, .shell .main-header .navigation li a.active span, .shell .main-header .navigation li a:focus span {
            background-color: #656565;
            color: #fff; }
      .shell .main-header .navigation li.narrow-only {
        display: none; }
  .shell .main-header .toggle-header {
    display: none;
    position: absolute;
    right: 15px;
    top: 0;
    padding: 5px;
    font-size: 44px;
    cursor: pointer;
    color: #656565; }
    .shell .main-header .toggle-header:hover {
      color: #626262; }
  .shell .main-header .profile-button {
    position: absolute;
    right: 15px;
    top: 0;
    padding: 10px;
    font-size: 34px;
    cursor: pointer; }
    .shell .main-header .profile-button a {
      color: #656565; }
      .shell .main-header .profile-button a:hover {
        color: #626262; }
  @media screen and (max-width: 992px) {
    .shell .main-header .toggle-header {
      display: block; }
    .shell .main-header .left-header .site-logo {
      margin-left: 0; }
    .shell .main-header .profile-button {
      top: 2px;
      right: 68px; }
    .shell .main-header .navigation {
      padding-left: 0;
      height: 1px;
      overflow: hidden;
      padding-top: 0; }
      .shell .main-header .navigation li {
        display: block;
        margin-top: 8px; }
        .shell .main-header .navigation li a {
          display: inline-block; }
      .shell .main-header .navigation.expanded {
        height: 236px;
        padding-top: 8px; } }
  @media screen and (max-width: 480px) {
    .shell .main-header .navigation li a {
      display: block;
      text-align: center; } }
  @media screen and (max-width: 340px) {
    .shell .main-header .profile-button {
      display: none; }
    .shell .main-header .navigation li.narrow-only {
      display: block; } }
.shell .content-block {
  max-width: 1200px;
  margin: 0 auto; }
  .shell .content-block.wide-view {
    max-width: none; }
  .shell .content-block.full-height {
    min-height: calc(100vh - 163px); }

.home-view {
  margin-top: -20px; }
  .home-view .url-button.dt-btn {
    background-color: #fff; }
  .home-view .search-block {
    height: 400px;
    padding: 20px 0;
    background-image: url("../images/main-banner.jpeg");
    background-size: cover;
    position: relative; }
    .home-view .search-block .search-wrapper {
      background-color: rgba(0, 0, 0, 0.4);
      padding: 12px;
      border-radius: 4px;
      margin-top: 200px; }
      .home-view .search-block .search-wrapper .search-panel-title {
        font-size: 17px;
        margin-bottom: 4px;
        padding-left: 10px;
        color: #fff; }
      .home-view .search-block .search-wrapper .free-search #free-search-place-input {
        height: 36px;
        line-height: 32px;
        font-size: 14px; }
  .home-view .news-block {
    position: relative;
    padding-top: 20px;
    margin: 0 auto 15px auto;
    max-width: 1200px; }
    .home-view .news-block .url-button {
      position: absolute;
      top: -15px;
      left: calc(50% - 41px); }
    @media screen and (max-width: 480px) {
      .home-view .news-block {
        margin-left: -15px;
        margin-right: -15px; } }
  .home-view .last-added-block {
    background-color: #3e3e3e;
    padding-top: 25px;
    position: relative; }
    .home-view .last-added-block .url-button {
      position: absolute;
      top: -15px;
      left: calc(50% - 70px); }

.select-image-container {
  width: 100%; }
  .select-image-container .select-image-box {
    width: 100%;
    position: relative; }
    .select-image-container .select-image-box img {
      width: 100%; }
    .select-image-container .select-image-box .select-image-overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      line-height: 100%; }
      .select-image-container .select-image-box .select-image-overlay a {
        border: 1px solid #fff;
        border-radius: 0;
        margin-top: calc(50% - 17px);
        vertical-align: center;
        text-transform: uppercase;
        color: #fff; }
        .select-image-container .select-image-box .select-image-overlay a:hover {
          color: #fff; }
    .select-image-container .select-image-box.image-editable:hover .select-image-overlay {
      display: block; }
  .select-image-container #photo-input, .select-image-container .select-image {
    display: none; }
  .select-image-container .change-add-buttons .btn {
    border-radius: 0;
    width: 100%;
    height: 38px;
    margin-top: 10px; }
  .select-image-container.invalid .image-placeholder, .select-image-container.invalid .btn {
    border: 1px solid #FF7F7F; }

.modal-body .show-preview {
  display: block;
  margin: 30px auto;
  padding: 10 30px; }
.modal-body .img-container {
  width: 100%;
  margin: 0 auto; }
  .modal-body .img-container img {
    width: 40%; }
.modal-body .preview-container img {
  width: 50%;
  display: block;
  margin: 0 auto; }
.modal-body .photo-submit-container {
  padding: 30px;
  text-align: center; }

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.row-cust-padding > [class*="col-"] {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

.all-loaded {
  padding: 10px;
  text-align: center; }

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }
body {
  font-family: 'Roboto', sans-serif; }

.auth-view {
  background-image: url("../images/main-banner.jpeg");
  background-size: cover;
  position: relative;
  margin-top: -20px;
  min-height: calc(100vh - 143px); }
  .auth-view .auth-form-container {
    padding: 20px;
    text-align: center; }
    .auth-view .auth-form-container .auth-form {
      display: inline-block;
      background-color: #fff;
      width: 100%;
      padding: 15px;
      margin: 0 auto;
      border-radius: 4px; }
      .auth-view .auth-form-container .auth-form .success-text {
        margin-bottom: 0; }
        .auth-view .auth-form-container .auth-form .success-text span {
          font-weight: 500; }
      .auth-view .auth-form-container .auth-form .under-text-button {
        display: inline-block;
        margin-top: 10px; }
      .auth-view .auth-form-container .auth-form .error-message .error-text {
        color: #FF7F7F;
        margin-bottom: 0; }
      .auth-view .auth-form-container .auth-form .error-message .solution-message {
        color: #262626;
        margin-bottom: 0;
        margin-top: 5px; }
        .auth-view .auth-form-container .auth-form .error-message .solution-message a {
          text-decoration: underline;
          color: #6A9ABF; }
          .auth-view .auth-form-container .auth-form .error-message .solution-message a:hover {
            text-decoration: none; }
  .auth-view .sign-form {
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    margin: 15px auto; }
    .auth-view .sign-form .form-group {
      margin-bottom: 0; }
    .auth-view .sign-form .form-title {
      font-size: 21px;
      color: #626262;
      font-weight: 400;
      margin: 17px 0 5px 0; }
    .auth-view .sign-form .form-control {
      border: 2px solid #656565;
      border-radius: 4px; }
    .auth-view .sign-form .error-message {
      text-align: center;
      padding: 10px 0 0 0;
      color: #FF7F7F; }
    .auth-view .sign-form .form-control {
      margin-bottom: 15px; }
    .auth-view .sign-form.forgot-form {
      padding: 0;
      margin: 0; }

.profile-view .user-profile {
  margin-bottom: 20px; }
  .profile-view .user-profile .select-image-box {
    border-radius: 50%;
    overflow: hidden; }
  .profile-view .user-profile .user-info {
    padding: 10px 0; }
    .profile-view .user-profile .user-info .user-name {
      font-size: 19px;
      color: #262626; }

.edit-profile-view .edit-profile-form {
  max-width: 400px; }

.dt-form .form-group {
  margin-bottom: 10px; }
  .dt-form .form-group .form-control {
    margin-bottom: 10px; }
  .dt-form .form-group .form-label {
    display: block; }
  .dt-form .form-group.inline-addon input {
    display: inline-block; }
    .dt-form .form-group.inline-addon input.form-control {
      margin-right: 10px; }
.dt-form .ng-dirty.ng-invalid {
  border-color: #FF7F7F;
  background-color: #ffe6e6; }
.dt-form .ng-dirty.ng-invalid-time {
  background-color: transparent; }
.dt-form .has-error input, .dt-form .has-error button select {
  border-color: #FF7F7F;
  background-color: #ffe6e6; }
.dt-form input.has-error, .dt-form button.has-error, .dt-form select.has-error {
  border-color: #FF7F7F;
  background-color: #ffe6e6; }
.dt-form input[type=number] {
  max-width: 150px; }
.dt-form select {
  -webkit-appearance: none;
  width: auto;
  min-width: 300px;
  background-image: url("../icons/chevron-down.svg");
  background-position: 95% center;
  background-size: 10px 10px;
  background-repeat: no-repeat; }

.errors-list .alert {
  padding: 8px 10px;
  margin-bottom: 10px; }

.categories-tree {
  list-style-type: none;
  margin-bottom: 0;
  max-width: 600px; }
  .categories-tree ul {
    list-style-type: none;
    margin-bottom: 0; }
    .categories-tree ul .nested-items {
      margin-left: 10px; }
  .categories-tree .list-group-item {
    padding-left: 30px;
    cursor: pointer; }
    .categories-tree .list-group-item .toggle-icons {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 30px;
      text-align: center;
      line-height: 40px; }

.dashboard-view .admin-buttons {
  padding: 20px; }
  .dashboard-view .admin-buttons .btn {
    margin-right: 10px; }
.dashboard-view .items-list {
  list-style-type: none; }
  .dashboard-view .items-list .item-link {
    display: block;
    font-size: 15px;
    padding: 10px 0;
    color: #262626;
    text-decoration: none; }
    .dashboard-view .items-list .item-link:hover {
      color: #6A9ABF; }

.dt-google-map .google-map {
  height: 250px; }

.manage-inst-view {
  max-width: 1024px;
  margin: 0 auto; }
  .manage-inst-view .page-title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center; }

.media-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer; }
  .media-item .play-icon {
    position: absolute;
    display: block;
    padding: 10px 14px;
    font-size: 38px;
    color: #fff;
    bottom: 0;
    right: 0;
    z-index: 2; }
  .media-item .media-item-image {
    width: 100%; }
  .media-item .overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3); }
  .media-item:hover .overlay {
    display: block; }
    .media-item:hover .overlay .remove-icon {
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      padding: 6px 10px; }

.institution-view .inst-navigation {
  padding-top: 20px;
  padding-bottom: 20px; }
  .institution-view .inst-navigation .dt-nav-pill {
    display: block;
    height: 30px;
    padding: 0 8px;
    margin-right: 10px;
    border-radius: 3px;
    line-height: 30px;
    background-color: transparent;
    color: #656565; }
    .institution-view .inst-navigation .dt-nav-pill .button-icon {
      display: none; }
    .institution-view .inst-navigation .dt-nav-pill.active, .institution-view .inst-navigation .dt-nav-pill:hover {
      color: #fff;
      background-color: #656565; }
.institution-view .select-image-box {
  border-radius: 50%;
  overflow: hidden; }
.institution-view .inst-info .inst-title {
  font-size: 22px;
  margin: 0;
  padding-bottom: 6px;
  color: #656565; }
.institution-view .inst-info .location-string {
  margin-bottom: 5px; }
.institution-view .inst-info .inst-description {
  overflow: hidden;
  margin-bottom: 10px;
  max-height: 85px; }
  .institution-view .inst-info .inst-description .truncate-addon {
    display: inline-block;
    color: #656565;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    margin-left: 7px; }
    .institution-view .inst-info .inst-description .truncate-addon:hover, .institution-view .inst-info .inst-description .truncate-addon :focus {
      text-decoration: none; }
  .institution-view .inst-info .inst-description.full-length {
    max-height: none; }
@media screen and (max-width: 992px) {
  .institution-view .institution-main-photo {
    padding: 15px 0; }
  .institution-view .inst-info .inst-title {
    text-align: center; }
  .institution-view .media-item {
    margin-bottom: 15px; }
  .institution-view .inst-navigation .dt-nav-pill {
    border: 2px solid #656565;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 46px;
    font-size: 21px; }
    .institution-view .inst-navigation .dt-nav-pill .button-icon {
      display: inline-block; }
    .institution-view .inst-navigation .dt-nav-pill .button-text {
      display: none; } }
@media screen and (max-width: 480px) {
  .institution-view .admin-button.dt-btn {
    display: block;
    margin-bottom: 10px;
    height: 40px;
    line-height: 36px;
    font-size: 17px;
    width: 100%; } }

.institutions-view .institutions-blocks {
  margin-bottom: 15px; }

.cats-navigation .cat-history {
  clear: both;
  overflow: hidden;
  padding-bottom: 10px; }
  .cats-navigation .cat-history .cat-thumbnail {
    position: relative;
    float: left; }
.cats-navigation .cat-thumbnail {
  display: inline-block;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  border: 2px solid #656565;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 39px;
  color: #656565;
  text-transform: uppercase;
  padding: 0; }
  .cats-navigation .cat-thumbnail:focus, .cats-navigation .cat-thumbnail:active, .cats-navigation .cat-thumbnail:hover {
    outline: none;
    background-color: #656565;
    color: #fff; }
  .cats-navigation .cat-thumbnail.last-thumbnail {
    padding-left: 2px; }
    .cats-navigation .cat-thumbnail.last-thumbnail:after {
      content: '';
      display: block;
      clear: both; }
  .cats-navigation .cat-thumbnail.active {
    background-color: #656565;
    color: #fff; }
  .cats-navigation .cat-thumbnail .cat-thumbnail-arrow {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: -17px;
    height: 3px;
    width: 15px;
    background-color: #656565; }
    .cats-navigation .cat-thumbnail .cat-thumbnail-arrow.preciding {
      right: auto;
      left: -17px; }
.cats-navigation .previous-cat-controls {
  position: relative; }
  .cats-navigation .previous-cat-controls .cat-thumbnail {
    position: absolute;
    top: 0;
    left: 0; }
  .cats-navigation .previous-cat-controls .active-cat-title {
    white-space: nowrap;
    height: 41px;
    line-height: 41px;
    margin: 0;
    padding-left: 53px;
    color: #717171;
    text-transform: capitalize;
    font-size: 16px; }
.cats-navigation .categories-list {
  list-style-type: none;
  padding-left: 46px; }
  .cats-navigation .categories-list li {
    margin-bottom: 5px; }
  .cats-navigation .categories-list .category-link {
    position: relative;
    display: block;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
    color: #717171;
    text-transform: capitalize;
    font-size: 14px; }
    .cats-navigation .categories-list .category-link span {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .cats-navigation .categories-list .category-link.has-children {
      padding-right: 33px; }
    .cats-navigation .categories-list .category-link.active, .cats-navigation .categories-list .category-link:hover, .cats-navigation .categories-list .category-link:focus {
      background-color: #656565;
      color: #fff;
      text-decoration: none; }
      .cats-navigation .categories-list .category-link.active .children-icon, .cats-navigation .categories-list .category-link:hover .children-icon, .cats-navigation .categories-list .category-link:focus .children-icon {
        color: #fff; }
  .cats-navigation .categories-list .children-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 17px;
    color: #717171;
    padding: 4px 7px; }

.location-string {
  position: relative;
  padding-left: 20px; }
  .location-string a {
    color: #656565;
    text-decoration: underline;
    font-size: 15px; }
    .location-string a:hover, .location-string a:active, .location-string a:focus {
      text-decoration: none;
      outline: none; }
  .location-string i {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px; }

.truncated .text {
  cursor: pointer; }

.institution-block .inst-block-title {
  font-size: 18px;
  margin: 0;
  padding-bottom: 6px;
  font-weight: normal;
  text-transform: capitalize;
  color: #262626; }
.institution-block .location-string {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.institution-block .inst-block-description {
  overflow: hidden;
  margin-bottom: 10px;
  max-height: 60px;
  color: #626262; }

.pswp__bg {
  background-color: rgba(0, 0, 0, 0.85); }

.pswp__ui--fit .pswp__top-bar {
  background-color: transparent; }

.video-modal-wrap + .modal-backdrop.in {
  opacity: 0.8; }
.video-modal-wrap .modal-dialog .modal-content {
  background-color: transparent;
  box-shadow: none; }
.video-modal-wrap .modal-dialog .modal-body {
  padding: 0;
  position: relative; }
  .video-modal-wrap .modal-dialog .modal-body .close {
    position: absolute;
    top: -28px;
    right: -28px;
    color: #fff;
    font-size: 32px; }
.video-modal-wrap .video-modal .embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
.video-modal-wrap .video-modal .embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%; }
.video-modal-wrap .video-modal .embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.manage-video .errors {
  padding: 10px;
  color: #FF7F7F; }

.timepicker-wrapper {
  display: inline-block;
  float: left; }
  .timepicker-wrapper .timepicker-layout {
    display: inline-block;
    overflow: hidden; }
    .timepicker-wrapper .timepicker-layout .timepicker-colon {
      float: left;
      height: 30px;
      line-height: 30px;
      font-size: 18px;
      width: 10px; }
    .timepicker-wrapper .timepicker-layout .timepicker-input-wrap {
      display: inline-block;
      float: left; }
      .timepicker-wrapper .timepicker-layout .timepicker-input-wrap input {
        float: left;
        width: 43px;
        height: 30px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-left: 2px;
        padding-right: 2px; }
      .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons {
        display: inline-block;
        float: left; }
        .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button {
          height: 15px;
          line-height: 13px;
          width: 20px;
          display: block;
          background-color: transparent;
          outline: none;
          border: 1px solid #cccccc;
          border-left: none;
          border-top-right-radius: 3px;
          padding: 0; }
          .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button span {
            font-size: 10px; }
          .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button + button {
            border-top-right-radius: 0;
            border-top: none;
            border-bottom-right-radius: 3px; }
    .timepicker-wrapper .timepicker-layout input[type=number]::-webkit-inner-spin-button,
    .timepicker-wrapper .timepicker-layout input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .timepicker-wrapper.has-error .timepicker-layout .timepicker-input-wrap .input-buttons button {
    border-color: #FF7F7F;
    background-color: #fef4f4; }
  .timepicker-wrapper.has-error .timepicker-layout .timepicker-input-wrap input {
    border-color: #FF7F7F; }
  .timepicker-wrapper .control-label {
    clear: both;
    display: block; }
  .timepicker-wrapper .error-list {
    clear: both; }
    .timepicker-wrapper .error-list ul {
      list-style-type: none;
      padding-left: 0; }
  .timepicker-wrapper .datepicker-field {
    text-align: center; }

.datetimepicker .datepicker-wrapper {
  float: left;
  display: inline-block;
  width: 150px;
  margin-right: 20px; }
  .datetimepicker .datepicker-wrapper .uib-daypicker:focus, .datetimepicker .datepicker-wrapper .uib-daypicker:active {
    outline: none; }
  .datetimepicker .datepicker-wrapper .input-group-btn .btn-default {
    border-color: #cccccc; }
    .datetimepicker .datepicker-wrapper .input-group-btn .btn-default:focus, .datetimepicker .datepicker-wrapper .input-group-btn .btn-default:active {
      outline: none; }
  .datetimepicker .datepicker-wrapper.has-error .input-group-btn .btn-default {
    border-color: #fb9694;
    background-color: #fef4f4; }
.datetimepicker .control-label {
  clear: both;
  display: block; }
.datetimepicker .error-list {
  clear: both; }
  .datetimepicker .error-list ul {
    list-style-type: none;
    padding-left: 0; }
.datetimepicker .datepicker-field {
  text-align: center; }
.datetimepicker:after {
  content: '';
  display: block;
  clear: both; }
.datetimepicker.disabled .timepicker-layout .timepicker-input-wrap .input-buttons button {
  cursor: not-allowed;
  background-color: #dfe5e7; }
.datetimepicker.disabled .input-group-btn .btn-default {
  cursor: not-allowed;
  background-color: #dfe5e7;
  color: #39424c; }
.datetimepicker .now-trigger {
  clear: both;
  display: block;
  font-size: inherit;
  font-family: inherit;
  font-weight: normal; }
  .datetimepicker .now-trigger .label-title {
    margin-left: 5px; }

.uib-datepicker-popup {
  padding: 10px; }
  .uib-datepicker-popup .uib-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0; }
  .uib-datepicker-popup .uib-title {
    border-radius: 0; }
  .uib-datepicker-popup .uib-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0; }
  .uib-datepicker-popup .day-labels {
    padding: 15px 0 5px; }
  .uib-datepicker-popup .uib-button-bar {
    padding: 10px 0 0 0; }
    .uib-datepicker-popup .uib-button-bar .btn {
      min-width: 10px;
      width: auto;
      line-height: 1; }
  .uib-datepicker-popup .uib-yearpicker tbody:before, .uib-datepicker-popup .uib-monthpicker tbody:before {
    content: '';
    display: block;
    height: 20px; }
  .uib-datepicker-popup .uib-weeks .uib-day:hover .btn,
  .uib-datepicker-popup .uib-weeks .uib-day:hover .btn.active, .uib-datepicker-popup .uib-weeks .uib-month:hover .btn,
  .uib-datepicker-popup .uib-weeks .uib-month:hover .btn.active, .uib-datepicker-popup .uib-weeks .uib-year:hover .btn,
  .uib-datepicker-popup .uib-weeks .uib-year:hover .btn.active, .uib-datepicker-popup .uib-months .uib-day:hover .btn,
  .uib-datepicker-popup .uib-months .uib-day:hover .btn.active, .uib-datepicker-popup .uib-months .uib-month:hover .btn,
  .uib-datepicker-popup .uib-months .uib-month:hover .btn.active, .uib-datepicker-popup .uib-months .uib-year:hover .btn,
  .uib-datepicker-popup .uib-months .uib-year:hover .btn.active, .uib-datepicker-popup .uib-years .uib-day:hover .btn,
  .uib-datepicker-popup .uib-years .uib-day:hover .btn.active, .uib-datepicker-popup .uib-years .uib-month:hover .btn,
  .uib-datepicker-popup .uib-years .uib-month:hover .btn.active, .uib-datepicker-popup .uib-years .uib-year:hover .btn,
  .uib-datepicker-popup .uib-years .uib-year:hover .btn.active {
    color: #fff; }
    .uib-datepicker-popup .uib-weeks .uib-day:hover .btn .text-info,
    .uib-datepicker-popup .uib-weeks .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-weeks .uib-month:hover .btn .text-info,
    .uib-datepicker-popup .uib-weeks .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-weeks .uib-year:hover .btn .text-info,
    .uib-datepicker-popup .uib-weeks .uib-year:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-day:hover .btn .text-info,
    .uib-datepicker-popup .uib-months .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-month:hover .btn .text-info,
    .uib-datepicker-popup .uib-months .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-year:hover .btn .text-info,
    .uib-datepicker-popup .uib-months .uib-year:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-day:hover .btn .text-info,
    .uib-datepicker-popup .uib-years .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-month:hover .btn .text-info,
    .uib-datepicker-popup .uib-years .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-year:hover .btn .text-info,
    .uib-datepicker-popup .uib-years .uib-year:hover .btn.active .text-info {
      color: inherit; }
  .uib-datepicker-popup .uib-weeks .uib-day .btn, .uib-datepicker-popup .uib-weeks .uib-month .btn, .uib-datepicker-popup .uib-weeks .uib-year .btn, .uib-datepicker-popup .uib-months .uib-day .btn, .uib-datepicker-popup .uib-months .uib-month .btn, .uib-datepicker-popup .uib-months .uib-year .btn, .uib-datepicker-popup .uib-years .uib-day .btn, .uib-datepicker-popup .uib-years .uib-month .btn, .uib-datepicker-popup .uib-years .uib-year .btn {
    border: none;
    border-radius: 0; }
    .uib-datepicker-popup .uib-weeks .uib-day .btn.active, .uib-datepicker-popup .uib-weeks .uib-month .btn.active, .uib-datepicker-popup .uib-weeks .uib-year .btn.active, .uib-datepicker-popup .uib-months .uib-day .btn.active, .uib-datepicker-popup .uib-months .uib-month .btn.active, .uib-datepicker-popup .uib-months .uib-year .btn.active, .uib-datepicker-popup .uib-years .uib-day .btn.active, .uib-datepicker-popup .uib-years .uib-month .btn.active, .uib-datepicker-popup .uib-years .uib-year .btn.active {
      font-weight: 700;
      background-color: #00A0DA;
      box-shadow: none;
      color: #fff; }
    .uib-datepicker-popup .uib-weeks .uib-day .btn .text-info, .uib-datepicker-popup .uib-weeks .uib-month .btn .text-info, .uib-datepicker-popup .uib-weeks .uib-year .btn .text-info, .uib-datepicker-popup .uib-months .uib-day .btn .text-info, .uib-datepicker-popup .uib-months .uib-month .btn .text-info, .uib-datepicker-popup .uib-months .uib-year .btn .text-info, .uib-datepicker-popup .uib-years .uib-day .btn .text-info, .uib-datepicker-popup .uib-years .uib-month .btn .text-info, .uib-datepicker-popup .uib-years .uib-year .btn .text-info {
      color: inherit; }
  .uib-datepicker-popup .uib-weeks .uib-day.out-of-active-month, .uib-datepicker-popup .uib-weeks .uib-month.out-of-active-month, .uib-datepicker-popup .uib-weeks .uib-year.out-of-active-month, .uib-datepicker-popup .uib-months .uib-day.out-of-active-month, .uib-datepicker-popup .uib-months .uib-month.out-of-active-month, .uib-datepicker-popup .uib-months .uib-year.out-of-active-month, .uib-datepicker-popup .uib-years .uib-day.out-of-active-month, .uib-datepicker-popup .uib-years .uib-month.out-of-active-month, .uib-datepicker-popup .uib-years .uib-year.out-of-active-month {
    border-width: 0; }

.working-days-manage .working-day-form {
  overflow: hidden;
  padding-bottom: 6px; }
  .working-days-manage .working-day-form .input-group, .working-days-manage .working-day-form .timepicker-wrapper {
    margin-right: 15px; }
  .working-days-manage .working-day-form .input-group {
    float: left;
    display: inline-block; }
    .working-days-manage .working-day-form .input-group label {
      display: block; }
  .working-days-manage .working-day-form .working-day-select {
    display: block;
    width: auto;
    min-width: 140px;
    padding: 0 18px;
    height: 30px;
    text-transform: capitalize;
    border-radius: 3px; }
  .working-days-manage .working-day-form .submit-button {
    padding-top: 25px; }
.working-days-manage .working-days-list .working-day-info-wrapper {
  margin-right: 20px; }
  .working-days-manage .working-days-list .working-day-info-wrapper .working-day-label {
    font-style: italic;
    font-weight: bold; }
  .working-days-manage .working-days-list .working-day-info-wrapper:first-child {
    display: inline-block;
    min-width: 200px; }
.working-days-manage .working-days-list .remove-working-day {
  cursor: pointer; }

.info-state .info-section-title {
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  font-weight: normal;
  color: #656565;
  margin: 0;
  margin-bottom: 5px; }
.info-state .info-manage-button {
  display: inline-block;
  height: 41px;
  width: 41px;
  border: 2px solid #656565;
  line-height: 37px;
  color: #656565;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  font-size: 21px; }
  .info-state .info-manage-button:hover {
    background-color: #656565;
    color: #fff; }

.schedule .add-schedule-button {
  margin-top: -12px; }
.schedule .working-time-item {
  position: relative;
  margin-bottom: 10px; }
  .schedule .working-time-item .preloader {
    text-align: left; }
  .schedule .working-time-item .edit-schedule-button {
    position: absolute;
    right: 0;
    bottom: 10px; }
  .schedule .working-time-item .schedule-name {
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px; }
  .schedule .working-time-item .working-time-days {
    list-style-type: none;
    margin-left: 0;
    margin-top: 5px; }
    .schedule .working-time-item .working-time-days .day-title {
      display: inline-block;
      min-width: 80px;
      text-transform: capitalize;
      font-size: 15px; }
    .schedule .working-time-item .working-time-days .working-day-from-to {
      display: inline-block;
      border-left: 2px solid #656565;
      padding: 1px 4px;
      margin-bottom: 10px;
      color: #626262; }

.phone-numbers .phone-numbers-list {
  list-style-type: none;
  padding-left: 0; }
  .phone-numbers .phone-numbers-list .phone-numbers-item {
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    white-space: nowrap; }
    .phone-numbers .phone-numbers-list .phone-numbers-item .edit-button {
      margin-left: 8px; }

.comments .comments-textarea {
  padding-left: 65px;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px; }
  .comments .comments-textarea .user-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    overflow: hidden;
    border-radius: 4px; }
    .comments .comments-textarea .user-photo img {
      max-width: 100%; }
.comments .comments-list {
  list-style-type: none;
  padding-left: 0; }
  .comments .comments-list img {
    max-width: 100%; }
  .comments .comments-list .comment-item {
    padding-left: 65px;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px; }
    .comments .comments-list .comment-item .author-photo {
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 5px;
      width: 55px;
      border-radius: 4px; }
      .comments .comments-list .comment-item .author-photo img {
        max-width: 100%; }
    .comments .comments-list .comment-item .comment-info {
      padding: 0 0; }
      .comments .comments-list .comment-item .comment-info .author-name {
        font-size: 16px;
        color: #262626;
        margin-bottom: 0; }
      .comments .comments-list .comment-item .comment-info .comment-text {
        color: #626262;
        max-height: 60px;
        margin-bottom: 0; }
        .comments .comments-list .comment-item .comment-info .comment-text .truncate-addon {
          cursor: pointer;
          display: inline-block;
          color: #656565;
          text-decoration: underline;
          font-style: italic;
          margin-left: 7px; }
          .comments .comments-list .comment-item .comment-info .comment-text .truncate-addon:hover, .comments .comments-list .comment-item .comment-info .comment-text .truncate-addon :focus {
            text-decoration: none; }
      .comments .comments-list .comment-item .comment-info .comment-date {
        color: #626262;
        font-size: 12px; }
    .comments .comments-list .comment-item .comment-answer-block {
      padding-top: 10px;
      padding-bottom: 10px; }
      .comments .comments-list .comment-item .comment-answer-block .user-photo {
        top: 10px; }
  .comments .comments-list .comment-answers {
    margin-left: -40px; }
    .comments .comments-list .comment-answers .comment-item {
      padding-left: 45px; }
      .comments .comments-list .comment-answers .comment-item .author-photo {
        width: 35px; }
      .comments .comments-list .comment-answers .comment-item .comment-info {
        padding: 0; }
.comments .comment-separator {
  height: 2px;
  background-color: #cccccc;
  margin: 0 25px;
  margin-bottom: 5px; }
.comments .dt-btn {
  margin-left: 10px; }

.manage-form .summernote-wrap {
  margin-top: 20px; }
  .manage-form .summernote-wrap .note-editable.panel-body {
    min-height: 300px; }

.articles-list {
  list-style-type: none;
  padding-left: 0; }

.article-block .article-info {
  position: relative;
  height: 170px; }
  .article-block .article-info .article-title {
    font-size: 19px;
    font-weight: 400;
    color: #262626;
    margin-top: 0; }
  .article-block .article-info .article-snippet {
    color: #626262;
    max-height: 70px;
    overflow: hidden; }
  .article-block .article-info .article-date {
    position: absolute;
    left: 190px;
    bottom: 25px;
    color: #626262; }
    .article-block .article-info .article-date .fa-calendar {
      display: inline-block;
      margin-right: 2px; }
  .article-block .article-info .article-details-button {
    position: absolute;
    right: 60px;
    bottom: 22px; }
@media screen and (max-width: 480px) {
  .article-block .article-info {
    height: auto;
    padding: 10px 5px 0 5px !important; }
    .article-block .article-info .article-date {
      display: block;
      position: static;
      margin-top: 10px; }
    .article-block .article-info .article-details-button {
      position: static;
      width: 100%; } }

.news-list {
  margin-bottom: 16px; }

.unit-block {
  overflow: hidden;
  position: relative;
  height: 170px; }
  .unit-block .unit-block-image {
    position: absolute;
    left: 0;
    top: 0; }
    .unit-block .unit-block-image img {
      width: 170px;
      border-radius: 3px; }
  .unit-block .unit-block-info {
    padding: 5px 20px;
    padding-left: 180px; }
  @media screen and (max-width: 480px) {
    .unit-block {
      height: auto; }
      .unit-block .unit-block-image {
        position: static;
        width: 100%; }
        .unit-block .unit-block-image img {
          width: 100%; }
      .unit-block .unit-block-info {
        padding: 10px 20px; } }

.block-separator {
  background-color: #656565;
  height: 2px;
  margin: 9px 70px; }

.preloader {
  text-align: center; }
  .preloader img {
    width: 110px; }

.btn.dt-btn {
  border: 2px solid #656565;
  background-color: transparent;
  padding: 0 10px;
  outline: none !important;
  height: 30px;
  line-height: 26px;
  color: #626262;
  overflow: hidden;
  text-overflow: ellipsis; }
  .btn.dt-btn:focus, .btn.dt-btn:active, .btn.dt-btn:hover, .btn.dt-btn.active {
    outline: none;
    background-color: #656565;
    color: #fff; }
  .btn.dt-btn.dt-btn-sm {
    height: 25px;
    line-height: 21px;
    font-size: 12px; }
  .btn.dt-btn.btn-preloader img {
    display: inline-block;
    height: 20px; }
  .btn.dt-btn.dt-action-btn {
    height: 45px;
    line-height: 41px;
    min-width: 130px;
    font-size: 18px; }

.institution-thumbnail {
  box-shadow: -2px 4px 30px 0 rgba(103, 122, 141, 0.17);
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff; }
  .institution-thumbnail .thumbnail-photo {
    position: relative; }
    .institution-thumbnail .thumbnail-photo img {
      width: 100%;
      overflow: hidden; }
  .institution-thumbnail .thumbnail-info {
    padding: 2px 8px 8px 8px;
    height: 81px;
    position: relative; }
    .institution-thumbnail .thumbnail-info .category-button {
      position: absolute;
      left: 8px;
      bottom: 8px;
      max-width: calc(100% - 16px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .institution-thumbnail .thumbnail-info .thumbnail-title {
      display: block;
      max-height: 55px;
      border: 1px solid #fff;
      border-radius: 4px;
      color: #262626;
      text-decoration: none;
      font-size: 15px;
      padding-top: 0;
      text-transform: capitalize;
      overflow: hidden; }
      .institution-thumbnail .thumbnail-info .thumbnail-title:focus, .institution-thumbnail .thumbnail-info .thumbnail-title:active, .institution-thumbnail .thumbnail-info .thumbnail-title:hover {
        text-decoration: underline; }

.all-state .block-separator {
  margin-top: 0; }
.all-state .institution-thumbnail {
  margin-bottom: 9px; }

.category-thumbnails .category-thumbnail-title {
  margin-top: 0;
  padding-left: 10px; }

.input-timepicker-hours {
  margin-bottom: 0 !important; }

.input-timepicker-minutes {
  margin-bottom: 0 !important; }

.datetimepicker .datepicker-wrapper {
  float: left;
  display: inline-block;
  width: 150px;
  margin-right: 20px; }
  .datetimepicker .datepicker-wrapper .uib-daypicker:focus, .datetimepicker .datepicker-wrapper .uib-daypicker:active {
    outline: none; }
  .datetimepicker .datepicker-wrapper .input-group-btn .btn-default {
    border-color: #cccccc;
    height: 30px;
    line-height: 28px;
    padding-top: 0;
    padding-bottom: 0; }
    .datetimepicker .datepicker-wrapper .input-group-btn .btn-default:focus, .datetimepicker .datepicker-wrapper .input-group-btn .btn-default:active {
      outline: none; }
  .datetimepicker .datepicker-wrapper.has-error .input-group-btn .btn-default {
    border-color: #fb9694;
    background-color: #fef4f4; }
.datetimepicker .timepicker-wrapper {
  display: inline-block;
  float: left; }
  .datetimepicker .timepicker-wrapper .timepicker-layout {
    display: inline-block;
    overflow: hidden; }
    .datetimepicker .timepicker-wrapper .timepicker-layout .timepicker-colon {
      float: left;
      height: 30px;
      line-height: 30px;
      font-size: 18px;
      width: 20px; }
    .datetimepicker .timepicker-wrapper .timepicker-layout .timepicker-input-wrap {
      display: inline-block;
      float: left; }
      .datetimepicker .timepicker-wrapper .timepicker-layout .timepicker-input-wrap input {
        float: left;
        width: 43px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .datetimepicker .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons {
        display: inline-block;
        float: left; }
        .datetimepicker .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button {
          height: 15px;
          line-height: 13px;
          width: 20px;
          display: block;
          background-color: transparent;
          outline: none;
          border: 1px solid #cccccc;
          border-left: none;
          border-top-right-radius: 3px;
          padding: 0; }
          .datetimepicker .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button span {
            font-size: 10px; }
          .datetimepicker .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button + button {
            border-top-right-radius: 0;
            border-top: none;
            border-bottom-right-radius: 3px; }
    .datetimepicker .timepicker-wrapper .timepicker-layout input[type=number]::-webkit-inner-spin-button,
    .datetimepicker .timepicker-wrapper .timepicker-layout input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .datetimepicker .timepicker-wrapper.has-error .timepicker-layout .timepicker-input-wrap .input-buttons button {
    border-color: #fb9694;
    background-color: #fef4f4; }
.datetimepicker .control-label {
  clear: both;
  display: block; }
.datetimepicker .error-list {
  clear: both; }
  .datetimepicker .error-list ul {
    list-style-type: none;
    padding-left: 0; }
.datetimepicker .datepicker-field {
  text-align: center;
  height: 30px;
  margin-bottom: 0 !important; }
.datetimepicker:after {
  content: '';
  display: block;
  clear: both; }
.datetimepicker.disabled .timepicker-layout .timepicker-input-wrap .input-buttons button {
  cursor: not-allowed;
  background-color: #dfe5e7; }
.datetimepicker.disabled .input-group-btn .btn-default {
  cursor: not-allowed;
  background-color: #dfe5e7;
  color: #39424c;
  box-shadow: none; }
.datetimepicker .now-trigger {
  clear: both;
  display: block;
  font-size: inherit;
  font-family: inherit;
  font-weight: normal; }
  .datetimepicker .now-trigger .label-title {
    margin-left: 5px; }

.uib-datepicker-popup {
  padding: 10px; }
  .uib-datepicker-popup .btn-default {
    border-color: #656565; }
  .uib-datepicker-popup .uib-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0; }
  .uib-datepicker-popup .uib-title {
    border-radius: 0; }
  .uib-datepicker-popup .uib-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0; }
  .uib-datepicker-popup .day-labels {
    padding: 15px 0 5px; }
  .uib-datepicker-popup .uib-button-bar {
    padding: 10px 0 0 0; }
    .uib-datepicker-popup .uib-button-bar .btn {
      min-width: 10px;
      width: auto;
      line-height: 1; }
  .uib-datepicker-popup .uib-yearpicker tbody:before, .uib-datepicker-popup .uib-monthpicker tbody:before {
    content: '';
    display: block;
    height: 20px; }
  .uib-datepicker-popup .uib-weeks .uib-day, .uib-datepicker-popup .uib-weeks .uib-month, .uib-datepicker-popup .uib-weeks .uib-year, .uib-datepicker-popup .uib-months .uib-day, .uib-datepicker-popup .uib-months .uib-month, .uib-datepicker-popup .uib-months .uib-year, .uib-datepicker-popup .uib-years .uib-day, .uib-datepicker-popup .uib-years .uib-month, .uib-datepicker-popup .uib-years .uib-year {
    border: 1px solid #656565; }
    .uib-datepicker-popup .uib-weeks .uib-day:hover, .uib-datepicker-popup .uib-weeks .uib-month:hover, .uib-datepicker-popup .uib-weeks .uib-year:hover, .uib-datepicker-popup .uib-months .uib-day:hover, .uib-datepicker-popup .uib-months .uib-month:hover, .uib-datepicker-popup .uib-months .uib-year:hover, .uib-datepicker-popup .uib-years .uib-day:hover, .uib-datepicker-popup .uib-years .uib-month:hover, .uib-datepicker-popup .uib-years .uib-year:hover {
      background-color: #656565; }
      .uib-datepicker-popup .uib-weeks .uib-day:hover .btn,
      .uib-datepicker-popup .uib-weeks .uib-day:hover .btn.active, .uib-datepicker-popup .uib-weeks .uib-month:hover .btn,
      .uib-datepicker-popup .uib-weeks .uib-month:hover .btn.active, .uib-datepicker-popup .uib-weeks .uib-year:hover .btn,
      .uib-datepicker-popup .uib-weeks .uib-year:hover .btn.active, .uib-datepicker-popup .uib-months .uib-day:hover .btn,
      .uib-datepicker-popup .uib-months .uib-day:hover .btn.active, .uib-datepicker-popup .uib-months .uib-month:hover .btn,
      .uib-datepicker-popup .uib-months .uib-month:hover .btn.active, .uib-datepicker-popup .uib-months .uib-year:hover .btn,
      .uib-datepicker-popup .uib-months .uib-year:hover .btn.active, .uib-datepicker-popup .uib-years .uib-day:hover .btn,
      .uib-datepicker-popup .uib-years .uib-day:hover .btn.active, .uib-datepicker-popup .uib-years .uib-month:hover .btn,
      .uib-datepicker-popup .uib-years .uib-month:hover .btn.active, .uib-datepicker-popup .uib-years .uib-year:hover .btn,
      .uib-datepicker-popup .uib-years .uib-year:hover .btn.active {
        background-color: #656565;
        color: #fff; }
        .uib-datepicker-popup .uib-weeks .uib-day:hover .btn .text-info,
        .uib-datepicker-popup .uib-weeks .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-weeks .uib-month:hover .btn .text-info,
        .uib-datepicker-popup .uib-weeks .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-weeks .uib-year:hover .btn .text-info,
        .uib-datepicker-popup .uib-weeks .uib-year:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-day:hover .btn .text-info,
        .uib-datepicker-popup .uib-months .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-month:hover .btn .text-info,
        .uib-datepicker-popup .uib-months .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-year:hover .btn .text-info,
        .uib-datepicker-popup .uib-months .uib-year:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-day:hover .btn .text-info,
        .uib-datepicker-popup .uib-years .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-month:hover .btn .text-info,
        .uib-datepicker-popup .uib-years .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-year:hover .btn .text-info,
        .uib-datepicker-popup .uib-years .uib-year:hover .btn.active .text-info {
          color: inherit; }
    .uib-datepicker-popup .uib-weeks .uib-day .btn, .uib-datepicker-popup .uib-weeks .uib-month .btn, .uib-datepicker-popup .uib-weeks .uib-year .btn, .uib-datepicker-popup .uib-months .uib-day .btn, .uib-datepicker-popup .uib-months .uib-month .btn, .uib-datepicker-popup .uib-months .uib-year .btn, .uib-datepicker-popup .uib-years .uib-day .btn, .uib-datepicker-popup .uib-years .uib-month .btn, .uib-datepicker-popup .uib-years .uib-year .btn {
      border: none;
      border-radius: 0; }
      .uib-datepicker-popup .uib-weeks .uib-day .btn.active, .uib-datepicker-popup .uib-weeks .uib-month .btn.active, .uib-datepicker-popup .uib-weeks .uib-year .btn.active, .uib-datepicker-popup .uib-months .uib-day .btn.active, .uib-datepicker-popup .uib-months .uib-month .btn.active, .uib-datepicker-popup .uib-months .uib-year .btn.active, .uib-datepicker-popup .uib-years .uib-day .btn.active, .uib-datepicker-popup .uib-years .uib-month .btn.active, .uib-datepicker-popup .uib-years .uib-year .btn.active {
        font-weight: 700;
        background-color: #00A0DA;
        box-shadow: none;
        color: #fff; }
      .uib-datepicker-popup .uib-weeks .uib-day .btn .text-info, .uib-datepicker-popup .uib-weeks .uib-month .btn .text-info, .uib-datepicker-popup .uib-weeks .uib-year .btn .text-info, .uib-datepicker-popup .uib-months .uib-day .btn .text-info, .uib-datepicker-popup .uib-months .uib-month .btn .text-info, .uib-datepicker-popup .uib-months .uib-year .btn .text-info, .uib-datepicker-popup .uib-years .uib-day .btn .text-info, .uib-datepicker-popup .uib-years .uib-month .btn .text-info, .uib-datepicker-popup .uib-years .uib-year .btn .text-info {
        color: inherit; }
    .uib-datepicker-popup .uib-weeks .uib-day.out-of-active-month, .uib-datepicker-popup .uib-weeks .uib-month.out-of-active-month, .uib-datepicker-popup .uib-weeks .uib-year.out-of-active-month, .uib-datepicker-popup .uib-months .uib-day.out-of-active-month, .uib-datepicker-popup .uib-months .uib-month.out-of-active-month, .uib-datepicker-popup .uib-months .uib-year.out-of-active-month, .uib-datepicker-popup .uib-years .uib-day.out-of-active-month, .uib-datepicker-popup .uib-years .uib-month.out-of-active-month, .uib-datepicker-popup .uib-years .uib-year.out-of-active-month {
      border-width: 0; }

.suggestion .suggestion-image img {
  width: 100%; }
.suggestion .suggestion-title {
  display: block;
  max-height: 55px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #626262;
  text-decoration: none;
  font-size: 17px;
  padding: 2px 8px;
  overflow: hidden;
  font-family: ubuntu, sans-serif; }
  .suggestion .suggestion-title:focus, .suggestion .suggestion-title:active, .suggestion .suggestion-title:hover {
    text-decoration: underline; }

.free-search #free-search-place-input {
  border: 2px solid #656565;
  font-size: 12px;
  box-shadow: none;
  height: 30px;
  line-height: 26px;
  padding: 0 8px; }
.free-search .dt-btn {
  margin-right: 8px; }
.free-search .form-label {
  font-weight: 400; }
.free-search .category-filter {
  margin-top: 10px; }
  .free-search .category-filter .form-control {
    border: 2px solid #656565;
    height: 30px;
    line-height: 26px;
    font-size: 12px;
    padding: 0 8px;
    box-shadow: none; }

.footer {
  padding: 10px;
  border-top: 2px solid #656565; }
  .footer .footer-socials {
    letter-spacing: 20px;
    text-align: center; }
    .footer .footer-socials .social-circle {
      display: inline-block;
      font-size: 34px;
      color: #656565; }
      .footer .footer-socials .social-circle:hover {
        color: #262626; }
  .footer .copyright {
    line-height: 48px;
    color: #626262;
    text-align: center; }
    .footer .copyright .fa {
      font-size: 20px; }
    .footer .copyright .copyright-text {
      font-size: 17px; }

.article-view .article-header {
  overflow: hidden;
  margin-bottom: 15px; }
  .article-view .article-header .article-main-image {
    float: left; }
    .article-view .article-header .article-main-image img {
      max-width: 100%; }
  .article-view .article-header .article-title h1 {
    padding: 0;
    margin: 10px 0 0 15px;
    font-size: 22px;
    font-weight: 400; }
.article-view .article-text {
  font-size: 15px; }
  .article-view .article-text img {
    max-width: 75%; }

.locations-view .dt-google-map .google-map {
  height: 600px;
  margin-bottom: 15px; }
.locations-view .locations-list {
  list-style-type: none;
  margin-top: 15px; }
  .locations-view .locations-list .location-link {
    display: block;
    padding: 5px;
    color: #262626;
    font-size: 18px; }

.about-state {
  margin-top: -20px; }
  .about-state .about-banner {
    padding-bottom: 100px;
    padding-top: 100px;
    background-image: url("../images/about-image.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white; }
    .about-state .about-banner .logo-column {
      text-align: center; }
      .about-state .about-banner .logo-column img {
        max-width: 90%;
        margin-bottom: 50px; }
    .about-state .about-banner .about-title {
      margin-bottom: 5px;
      font-size: 26px;
      font-weight: 400; }
    .about-state .about-banner .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); }
    .about-state .about-banner .banner-text {
      font-size: 17px; }
    .about-state .about-banner .logo-column {
      text-align: center; }
    .about-state .about-banner .site-slogan {
      font-size: 19px; }
  .about-state .about-text {
    margin: 60px 0; }
    .about-state .about-text .about-text-title {
      font-size: 27px;
      color: #262626; }
    .about-state .about-text .about-text-text {
      font-size: 19px;
      color: #626262; }
    .about-state .about-text .about-text-benefits {
      font-size: 19px;
      color: #626262; }
    .about-state .about-text .dt-action-btn {
      margin-top: 12px; }
  .about-state .about-social {
    background-color: #656565;
    padding: 20px 15px;
    color: #fff; }
    .about-state .about-social .about-social-title {
      margin: 0 0 15px 0;
      text-align: center;
      font-size: 27px; }
    .about-state .about-social .about-social-text {
      margin: 0 auto;
      max-width: 800px;
      font-size: 17px;
      text-align: center; }
    .about-state .about-social .social-block {
      text-align: center;
      margin-top: 30px; }
      .about-state .about-social .social-block span {
        font-size: 80px;
        color: #fff; }
      .about-state .about-social .social-block .social-link {
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 18px; }
        .about-state .about-social .social-block .social-link:hover {
          text-decoration: underline; }

.credit-card {
  background-color: #777777;
  background-size: cover;
  background-position: center; }

.credit-card-text {
  margin-left: 25px;
  color: white;
  font-size: 19px;
  padding-top: 50px; }

.credit-card-div span {
  padding-top: 10px; }

.credit-card-div img {
  padding-top: 30px; }

.credit-card-div .small-font {
  font-size: 9px; }

.credit-card-div .pad-adjust {
  padding-top: 10px; }

/*# sourceMappingURL=style.css.map */
