.shell .main-header {
  margin-bottom: 30px; }
  .shell .main-header .left-header {
    white-space: nowrap;
    padding-top: 15px; }
    .shell .main-header .left-header .site-logo {
      display: inline-block;
      margin-left: 30px; }
      .shell .main-header .left-header .site-logo img {
        height: 45px; }
    .shell .main-header .left-header .site-name {
      display: inline-block;
      font-family: 'Poppins', sans-serif;
      padding-left: 10px;
      color: #656565; }
      .shell .main-header .left-header .site-name h1 {
        font-size: 21px;
        font-weight: normal;
        margin: 0;
        padding: 0; }
  .shell .main-header .navigation {
    list-style-type: none;
    margin: 0;
    padding-top: 20px; }
    .shell .main-header .navigation li {
      display: inline-block; }
      .shell .main-header .navigation li a {
        display: block;
        padding: 0 15px; }
        .shell .main-header .navigation li a span {
          display: block;
          height: 30px;
          line-height: 30px;
          padding: 0 8px;
          color: #656565;
          border-radius: 3px; }
        .shell .main-header .navigation li a:hover, .shell .main-header .navigation li a.active, .shell .main-header .navigation li a:focus {
          text-decoration: none; }
          .shell .main-header .navigation li a:hover span, .shell .main-header .navigation li a.active span, .shell .main-header .navigation li a:focus span {
            background-color: #656565;
            color: #fff; }

.home-view .main-banner {
  width: 100%;
  height: 400px;
  background-image: url("../images/main-banner.jpg");
  background-size: cover;
  background-position-y: bottom; }

.select-image-container {
  width: 100%; }
  .select-image-container .select-image-box {
    width: 100%;
    position: relative; }
    .select-image-container .select-image-box img {
      width: 100%; }
    .select-image-container .select-image-box .select-image-overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      line-height: 100%; }
      .select-image-container .select-image-box .select-image-overlay a {
        border: 1px solid #fff;
        border-radius: 0;
        margin-top: calc(50% - 17px);
        vertical-align: center;
        text-transform: uppercase;
        color: #fff; }
        .select-image-container .select-image-box .select-image-overlay a:hover {
          color: #fff; }
    .select-image-container .select-image-box.image-editable:hover .select-image-overlay {
      display: block; }
  .select-image-container #photo-input, .select-image-container .select-image {
    display: none; }
  .select-image-container .change-add-buttons .btn {
    border-radius: 0;
    width: 100%;
    height: 38px;
    margin-top: 10px; }
  .select-image-container.invalid .image-placeholder, .select-image-container.invalid .btn {
    border: 1px solid #FF7F7F; }

.modal-body .show-preview {
  display: block;
  margin: 30px auto;
  padding: 10 30px; }
.modal-body .img-container {
  width: 100%;
  margin: 0 auto; }
  .modal-body .img-container img {
    width: 40%; }
.modal-body .preview-container img {
  width: 50%;
  display: block;
  margin: 0 auto; }
.modal-body .photo-submit-container {
  padding: 30px;
  text-align: center; }

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.shell {
  max-width: 1200px;
  margin: 0 auto; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }

.dt-btn {
  background-color: transparent;
  padding: 0;
  outline: none !important; }
  .dt-btn:focus, .dt-btn:active {
    outline: none; }

.login-view .login-form {
  max-width: 500px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto; }
  .login-view .login-form .form-control {
    margin-bottom: 15px; }

.edit-profile-view .edit-profile-form {
  max-width: 400px; }

.dt-form .form-group {
  margin-bottom: 10px; }
  .dt-form .form-group .form-control {
    margin-bottom: 10px; }
  .dt-form .form-group .form-label {
    display: block; }
  .dt-form .form-group.inline-addon input {
    display: inline-block; }
    .dt-form .form-group.inline-addon input.form-control {
      margin-right: 10px; }
.dt-form .ng-dirty.ng-invalid {
  border-color: #FF7F7F;
  background-color: #ffe6e6; }
.dt-form .ng-dirty.ng-invalid-time {
  background-color: transparent; }
.dt-form .has-error input, .dt-form .has-error button select {
  border-color: #FF7F7F;
  background-color: #ffe6e6; }
.dt-form input.has-error, .dt-form button.has-error, .dt-form select.has-error {
  border-color: #FF7F7F;
  background-color: #ffe6e6; }
.dt-form input[type=number] {
  max-width: 150px; }
.dt-form select {
  -webkit-appearance: none;
  width: auto;
  min-width: 300px;
  background-image: url("../icons/chevron-down.svg");
  background-position: 95% center;
  background-size: 10px 10px;
  background-repeat: no-repeat; }

.errors-list .alert {
  padding: 8px 10px;
  margin-bottom: 10px; }

.categories-tree {
  list-style-type: none;
  margin-bottom: 0;
  max-width: 600px; }
  .categories-tree ul {
    list-style-type: none;
    margin-bottom: 0; }
    .categories-tree ul .nested-items {
      margin-left: 10px; }
  .categories-tree .list-group-item {
    padding-left: 30px;
    cursor: pointer; }
    .categories-tree .list-group-item .toggle-icons {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 30px;
      text-align: center;
      line-height: 40px; }

.dashboard-view .admin-buttons {
  padding: 20px; }
  .dashboard-view .admin-buttons .btn {
    margin-right: 10px; }

.dt-google-map .google-map {
  height: 250px; }

.manage-inst-view {
  max-width: 1024px;
  margin: 0 auto; }
  .manage-inst-view .page-title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center; }

.media-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer; }
  .media-item .play-icon {
    position: absolute;
    display: block;
    padding: 10px 14px;
    font-size: 38px;
    color: #fff;
    bottom: 0;
    right: 0;
    z-index: 2; }
  .media-item .media-item-image {
    width: 100%; }
  .media-item .overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3); }
  .media-item:hover .overlay {
    display: block; }
    .media-item:hover .overlay .remove-icon {
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      padding: 6px 10px; }

.institution-view .inst-navigation {
  padding-top: 20px; }
  .institution-view .inst-navigation .dt-nav-pill {
    display: block;
    height: 30px;
    padding: 0 8px;
    margin-right: 10px;
    border-radius: 3px;
    line-height: 30px;
    background-color: transparent;
    color: #656565; }
    .institution-view .inst-navigation .dt-nav-pill.active, .institution-view .inst-navigation .dt-nav-pill:hover {
      color: #fff;
      background-color: #656565; }
.institution-view .institution-photos, .institution-view .institution-videos {
  padding-top: 30px; }
.institution-view .select-image-box {
  border-radius: 50%;
  overflow: hidden; }
.institution-view .inst-info .inst-title {
  font-size: 22px;
  margin: 0;
  padding-bottom: 6px;
  color: #656565; }
.institution-view .inst-info .location-string {
  margin-bottom: 5px; }
.institution-view .inst-info .inst-description {
  overflow: hidden;
  margin-bottom: 10px;
  max-height: 85px; }
  .institution-view .inst-info .inst-description a {
    display: inline-block;
    color: #656565;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    margin-left: 7px; }
    .institution-view .inst-info .inst-description a:hover, .institution-view .inst-info .inst-description a :focus {
      text-decoration: none; }
  .institution-view .inst-info .inst-description.full-length {
    max-height: none; }

.cats-navigation .cat-history {
  clear: both;
  overflow: hidden;
  padding-bottom: 10px; }
  .cats-navigation .cat-history .cat-thumbnail {
    position: relative;
    float: left; }
.cats-navigation .cat-thumbnail {
  display: inline-block;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  border: 2px solid #656565;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
  line-height: 39px;
  color: #656565;
  text-transform: uppercase; }
  .cats-navigation .cat-thumbnail.last-thumbnail:after {
    content: '';
    display: block;
    clear: both; }
  .cats-navigation .cat-thumbnail.active {
    background-color: #656565;
    color: #fff; }
  .cats-navigation .cat-thumbnail .cat-thumbnail-arrow {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: -17px;
    height: 3px;
    width: 15px;
    background-color: #656565; }
    .cats-navigation .cat-thumbnail .cat-thumbnail-arrow.preciding {
      right: auto;
      left: -17px; }
.cats-navigation .previous-cat-controls {
  position: relative; }
  .cats-navigation .previous-cat-controls .cat-thumbnail {
    position: absolute;
    top: 0;
    left: 0; }
  .cats-navigation .previous-cat-controls .active-cat-title {
    white-space: nowrap;
    height: 41px;
    line-height: 41px;
    margin: 0;
    padding-left: 50px;
    color: #717171;
    text-transform: capitalize;
    font-size: 16px; }
.cats-navigation .categories-list {
  list-style-type: none;
  padding-left: 46px; }
  .cats-navigation .categories-list li {
    margin-bottom: 5px; }
  .cats-navigation .categories-list .category-link {
    position: relative;
    display: block;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
    color: #717171;
    text-transform: capitalize;
    font-size: 14px; }
    .cats-navigation .categories-list .category-link span {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .cats-navigation .categories-list .category-link.has-children {
      padding-right: 33px; }
    .cats-navigation .categories-list .category-link.active, .cats-navigation .categories-list .category-link:hover, .cats-navigation .categories-list .category-link:focus {
      background-color: #656565;
      color: #fff;
      text-decoration: none; }
      .cats-navigation .categories-list .category-link.active .children-icon, .cats-navigation .categories-list .category-link:hover .children-icon, .cats-navigation .categories-list .category-link:focus .children-icon {
        color: #fff; }
  .cats-navigation .categories-list .children-icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 17px;
    color: #717171;
    padding: 4px 7px; }

.location-string {
  position: relative;
  padding-left: 20px; }
  .location-string a {
    color: #656565;
    text-decoration: underline;
    font-size: 15px; }
    .location-string a:hover, .location-string a:active {
      text-decoration: none; }
  .location-string i {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px; }

.truncated .text {
  cursor: pointer; }

.institution-block {
  margin-bottom: 15px; }
  .institution-block .inst-block-image {
    display: block; }
    .institution-block .inst-block-image img {
      width: 100%; }
  .institution-block .inst-block-title {
    font-size: 18px;
    margin: 0;
    padding-bottom: 6px;
    font-weight: normal;
    text-transform: capitalize;
    color: #656565; }
  .institution-block .location-string {
    margin-bottom: 5px; }
  .institution-block .inst-block-description {
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 60px; }

.pswp__bg {
  background-color: rgba(0, 0, 0, 0.85); }

.pswp__ui--fit .pswp__top-bar {
  background-color: transparent; }

.video-modal-wrap + .modal-backdrop.in {
  opacity: 0.8; }
.video-modal-wrap .modal-dialog .modal-content {
  background-color: transparent;
  box-shadow: none; }
.video-modal-wrap .modal-dialog .modal-body {
  padding: 0;
  position: relative; }
  .video-modal-wrap .modal-dialog .modal-body .close {
    position: absolute;
    top: -28px;
    right: -28px;
    color: #fff;
    font-size: 32px; }
.video-modal-wrap .video-modal .embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
.video-modal-wrap .video-modal .embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%; }
.video-modal-wrap .video-modal .embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.manage-video .errors {
  padding: 10px;
  color: #FF7F7F; }

.timepicker-wrapper {
  display: inline-block;
  float: left; }
  .timepicker-wrapper .timepicker-layout {
    display: inline-block;
    overflow: hidden; }
    .timepicker-wrapper .timepicker-layout .timepicker-colon {
      float: left;
      height: 30px;
      line-height: 30px;
      font-size: 18px;
      width: 10px; }
    .timepicker-wrapper .timepicker-layout .timepicker-input-wrap {
      display: inline-block;
      float: left; }
      .timepicker-wrapper .timepicker-layout .timepicker-input-wrap input {
        float: left;
        width: 43px;
        height: 30px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-left: 2px;
        padding-right: 2px; }
      .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons {
        display: inline-block;
        float: left; }
        .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button {
          height: 15px;
          line-height: 13px;
          width: 20px;
          display: block;
          background-color: transparent;
          outline: none;
          border: 1px solid #cccccc;
          border-left: none;
          border-top-right-radius: 3px;
          padding: 0; }
          .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button span {
            font-size: 10px; }
          .timepicker-wrapper .timepicker-layout .timepicker-input-wrap .input-buttons button + button {
            border-top-right-radius: 0;
            border-top: none;
            border-bottom-right-radius: 3px; }
    .timepicker-wrapper .timepicker-layout input[type=number]::-webkit-inner-spin-button,
    .timepicker-wrapper .timepicker-layout input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .timepicker-wrapper.has-error .timepicker-layout .timepicker-input-wrap .input-buttons button {
    border-color: #FF7F7F;
    background-color: #fef4f4; }
  .timepicker-wrapper.has-error .timepicker-layout .timepicker-input-wrap input {
    border-color: #FF7F7F; }
  .timepicker-wrapper .control-label {
    clear: both;
    display: block; }
  .timepicker-wrapper .error-list {
    clear: both; }
    .timepicker-wrapper .error-list ul {
      list-style-type: none;
      padding-left: 0; }
  .timepicker-wrapper .datepicker-field {
    text-align: center; }

.datetimepicker .datepicker-wrapper {
  float: left;
  display: inline-block;
  width: 150px;
  margin-right: 20px; }
  .datetimepicker .datepicker-wrapper .uib-daypicker:focus, .datetimepicker .datepicker-wrapper .uib-daypicker:active {
    outline: none; }
  .datetimepicker .datepicker-wrapper .input-group-btn .btn-default {
    border-color: #cccccc; }
    .datetimepicker .datepicker-wrapper .input-group-btn .btn-default:focus, .datetimepicker .datepicker-wrapper .input-group-btn .btn-default:active {
      outline: none; }
  .datetimepicker .datepicker-wrapper.has-error .input-group-btn .btn-default {
    border-color: #fb9694;
    background-color: #fef4f4; }
.datetimepicker .control-label {
  clear: both;
  display: block; }
.datetimepicker .error-list {
  clear: both; }
  .datetimepicker .error-list ul {
    list-style-type: none;
    padding-left: 0; }
.datetimepicker .datepicker-field {
  text-align: center; }
.datetimepicker:after {
  content: '';
  display: block;
  clear: both; }
.datetimepicker.disabled .timepicker-layout .timepicker-input-wrap .input-buttons button {
  cursor: not-allowed;
  background-color: #dfe5e7; }
.datetimepicker.disabled .input-group-btn .btn-default {
  cursor: not-allowed;
  background-color: #dfe5e7;
  color: #39424c; }
.datetimepicker .now-trigger {
  clear: both;
  display: block;
  font-size: inherit;
  font-family: inherit;
  font-weight: normal; }
  .datetimepicker .now-trigger .label-title {
    margin-left: 5px; }

.uib-datepicker-popup {
  padding: 10px; }
  .uib-datepicker-popup .uib-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0; }
  .uib-datepicker-popup .uib-title {
    border-radius: 0; }
  .uib-datepicker-popup .uib-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0; }
  .uib-datepicker-popup .day-labels {
    padding: 15px 0 5px; }
  .uib-datepicker-popup .uib-button-bar {
    padding: 10px 0 0 0; }
    .uib-datepicker-popup .uib-button-bar .btn {
      min-width: 10px;
      width: auto;
      line-height: 1; }
  .uib-datepicker-popup .uib-yearpicker tbody:before, .uib-datepicker-popup .uib-monthpicker tbody:before {
    content: '';
    display: block;
    height: 20px; }
  .uib-datepicker-popup .uib-weeks .uib-day:hover .btn,
  .uib-datepicker-popup .uib-weeks .uib-day:hover .btn.active, .uib-datepicker-popup .uib-weeks .uib-month:hover .btn,
  .uib-datepicker-popup .uib-weeks .uib-month:hover .btn.active, .uib-datepicker-popup .uib-weeks .uib-year:hover .btn,
  .uib-datepicker-popup .uib-weeks .uib-year:hover .btn.active, .uib-datepicker-popup .uib-months .uib-day:hover .btn,
  .uib-datepicker-popup .uib-months .uib-day:hover .btn.active, .uib-datepicker-popup .uib-months .uib-month:hover .btn,
  .uib-datepicker-popup .uib-months .uib-month:hover .btn.active, .uib-datepicker-popup .uib-months .uib-year:hover .btn,
  .uib-datepicker-popup .uib-months .uib-year:hover .btn.active, .uib-datepicker-popup .uib-years .uib-day:hover .btn,
  .uib-datepicker-popup .uib-years .uib-day:hover .btn.active, .uib-datepicker-popup .uib-years .uib-month:hover .btn,
  .uib-datepicker-popup .uib-years .uib-month:hover .btn.active, .uib-datepicker-popup .uib-years .uib-year:hover .btn,
  .uib-datepicker-popup .uib-years .uib-year:hover .btn.active {
    color: #fff; }
    .uib-datepicker-popup .uib-weeks .uib-day:hover .btn .text-info,
    .uib-datepicker-popup .uib-weeks .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-weeks .uib-month:hover .btn .text-info,
    .uib-datepicker-popup .uib-weeks .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-weeks .uib-year:hover .btn .text-info,
    .uib-datepicker-popup .uib-weeks .uib-year:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-day:hover .btn .text-info,
    .uib-datepicker-popup .uib-months .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-month:hover .btn .text-info,
    .uib-datepicker-popup .uib-months .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-months .uib-year:hover .btn .text-info,
    .uib-datepicker-popup .uib-months .uib-year:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-day:hover .btn .text-info,
    .uib-datepicker-popup .uib-years .uib-day:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-month:hover .btn .text-info,
    .uib-datepicker-popup .uib-years .uib-month:hover .btn.active .text-info, .uib-datepicker-popup .uib-years .uib-year:hover .btn .text-info,
    .uib-datepicker-popup .uib-years .uib-year:hover .btn.active .text-info {
      color: inherit; }
  .uib-datepicker-popup .uib-weeks .uib-day .btn, .uib-datepicker-popup .uib-weeks .uib-month .btn, .uib-datepicker-popup .uib-weeks .uib-year .btn, .uib-datepicker-popup .uib-months .uib-day .btn, .uib-datepicker-popup .uib-months .uib-month .btn, .uib-datepicker-popup .uib-months .uib-year .btn, .uib-datepicker-popup .uib-years .uib-day .btn, .uib-datepicker-popup .uib-years .uib-month .btn, .uib-datepicker-popup .uib-years .uib-year .btn {
    border: none;
    border-radius: 0; }
    .uib-datepicker-popup .uib-weeks .uib-day .btn.active, .uib-datepicker-popup .uib-weeks .uib-month .btn.active, .uib-datepicker-popup .uib-weeks .uib-year .btn.active, .uib-datepicker-popup .uib-months .uib-day .btn.active, .uib-datepicker-popup .uib-months .uib-month .btn.active, .uib-datepicker-popup .uib-months .uib-year .btn.active, .uib-datepicker-popup .uib-years .uib-day .btn.active, .uib-datepicker-popup .uib-years .uib-month .btn.active, .uib-datepicker-popup .uib-years .uib-year .btn.active {
      font-weight: 700;
      background-color: #00A0DA;
      box-shadow: none;
      color: #fff; }
    .uib-datepicker-popup .uib-weeks .uib-day .btn .text-info, .uib-datepicker-popup .uib-weeks .uib-month .btn .text-info, .uib-datepicker-popup .uib-weeks .uib-year .btn .text-info, .uib-datepicker-popup .uib-months .uib-day .btn .text-info, .uib-datepicker-popup .uib-months .uib-month .btn .text-info, .uib-datepicker-popup .uib-months .uib-year .btn .text-info, .uib-datepicker-popup .uib-years .uib-day .btn .text-info, .uib-datepicker-popup .uib-years .uib-month .btn .text-info, .uib-datepicker-popup .uib-years .uib-year .btn .text-info {
      color: inherit; }
  .uib-datepicker-popup .uib-weeks .uib-day.out-of-active-month, .uib-datepicker-popup .uib-weeks .uib-month.out-of-active-month, .uib-datepicker-popup .uib-weeks .uib-year.out-of-active-month, .uib-datepicker-popup .uib-months .uib-day.out-of-active-month, .uib-datepicker-popup .uib-months .uib-month.out-of-active-month, .uib-datepicker-popup .uib-months .uib-year.out-of-active-month, .uib-datepicker-popup .uib-years .uib-day.out-of-active-month, .uib-datepicker-popup .uib-years .uib-month.out-of-active-month, .uib-datepicker-popup .uib-years .uib-year.out-of-active-month {
    border-width: 0; }

.working-days-manage .working-day-form {
  overflow: hidden;
  padding-bottom: 6px; }
  .working-days-manage .working-day-form .input-group, .working-days-manage .working-day-form .timepicker-wrapper {
    margin-right: 15px; }
  .working-days-manage .working-day-form .input-group {
    float: left;
    display: inline-block; }
    .working-days-manage .working-day-form .input-group label {
      display: block; }
  .working-days-manage .working-day-form .working-day-select {
    display: block;
    width: auto;
    min-width: 140px;
    padding: 0 18px;
    height: 30px;
    text-transform: capitalize;
    border-radius: 3px; }
  .working-days-manage .working-day-form .submit-button {
    padding-top: 25px; }
.working-days-manage .working-days-list .working-day-info-wrapper {
  margin-right: 20px; }
  .working-days-manage .working-days-list .working-day-info-wrapper .working-day-label {
    font-style: italic;
    font-weight: bold; }
  .working-days-manage .working-days-list .working-day-info-wrapper:first-child {
    display: inline-block;
    min-width: 200px; }
.working-days-manage .working-days-list .remove-working-day {
  cursor: pointer; }

.info-state .info-section-title {
  font-size: 17px;
  font-weight: normal;
  color: #656565; }
.info-state .info-manage-button {
  display: inline-block;
  height: 41px;
  width: 41px;
  border: 2px solid #656565;
  line-height: 37px;
  color: #656565;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  font-size: 21px; }
  .info-state .info-manage-button:hover {
    background-color: #656565;
    color: #fff; }

.schedule .add-schedule-button {
  margin-top: -12px; }
.schedule .working-time-item {
  position: relative; }
  .schedule .working-time-item .edit-schedule-button {
    position: absolute;
    right: 0;
    bottom: 10px; }
  .schedule .working-time-item .schedule-name {
    color: #262626;
    font-size: 16px;
    font-weight: 500; }
  .schedule .working-time-item .working-time-days {
    list-style-type: none;
    margin-left: 0; }
    .schedule .working-time-item .working-time-days .day-title {
      display: inline-block;
      min-width: 80px;
      text-transform: capitalize;
      font-size: 15px; }
    .schedule .working-time-item .working-time-days .working-day-from-to {
      display: inline-block;
      border: 2px solid #656565;
      border-radius: 3px;
      padding: 1px 4px;
      margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
