<div>
  <h1 class="form-title">Вхід</h1>
  <form name="vm.form">
    <div class="form-group" data-ng-if="vm.isFormVisible()">
      <input type="email"
             class="form-control"
             data-ng-model="vm.user.name"
             placeholder="email"
             ng-required="true"
             data-ng-change="vm.resetErrors()"
             data-ng-trim="true"
      >
      <input type="password"
             class="form-control"
             data-ng-model="vm.user.password"
             placeholder="пароль"
             ng-required="true"
             data-ng-change="vm.resetErrors()"
      >
      <button data-ng-click="vm.submit()"
              class="btn btn-default dt-btn"
      >
        Увійти
      </button>

      <a ui-sref="forgot-password"
         class="btn-default btn dt-btn pull-right">
         Забули пароль?
      </a>

      <div class="error-message" data-ng-if="vm.errorMessage">
        <span data-ng-bind="vm.errorMessage"></span>
      </div>
    </div>
    <div data-preloader
         data-ng-if="vm.isLoadInProcess"
    ></div>
  </form>
</div>