<div class="institution-thumbnail">
    <div class="thumbnail-photo">
        <a ui-sref="institutions.institution.photos({id: vm.institution.id})"
        >
            <img data-ng-src="{{vm.institution.imgUrl}}"
                 data-preload-image
                 data-default-image="content/images/preloader.gif"
                 data-ng-if="vm.institution.imgUrl"
            >
            <img data-ng-if="!vm.institution.imgUrl"
                 src="content/images/placeholder_cropped.jpg" alt=""
            >
        </a>
    </div>
    <div class="thumbnail-info">
        <a data-ui-sref="institutions.institution.photos({id: vm.institution.id})"
           class="thumbnail-title"
           data-truncate
           data-min-height="30"
           data-ng-if="vm.institution.title"
           data-ng-bind="vm.institution.title"
        ></a>
        <a ui-sref="institutions.category({id: vm.institution.categoryId})"
           class="category-button btn btn-default dt-btn dt-btn-sm"
           data-ng-bind="vm.getCategoryTitle(vm.institution.categoryId)"
        ></a>
    </div>
</div>