<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span></button>
  <h4 class="modal-title" id="{{$index}}-label" data-ng-bind="vm.modalMessage"></h4>
</div>
<div class="modal-body">
  <div class="working-day-form">
      <div data-working-day data-config="vm.workingHours"></div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Закрити</button>
</div>
