<div class="manage-article-view manage-inst-view manage-form">
  <h1 class="page-title" data-ng-bind="vm.actionName"></h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <select-image data-image="vm.image"
                      data-config="vm.selImgConfig"
                      data-editable="vm.selImgConfig.editable">
        </select-image>
      </div>
      <div class="col-sm-9">
        <form name="vm.form" data-ng-submit="vm.submit()">
          <div class="manage-article-form dt-form">
            <div class="form-group">
              <label class="form-label" for="name-input">Заголовок:</label>
              <input type="text"
                     class="form-control"
                     data-ng-model="vm.article.title"
                     placeholder="Заголовок"
                     id="name-input"
                     data-ng-required="true"
                     data-ng-trim="true"
              >
            </div>

            <div class="form-group">
              <label class="form-label" for="snippet-input">Опис:</label>
              <textarea id="snippet-input"
                        data-ng-model="vm.article.snippet"
                        class="form-control"
                        placeholder="Короткий опис поста"
                        data-ng-required="true"
              ></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <summer text="vm.article.text"></summer>
      </div>
      <button class="btn btn-default pull-right"
              data-ng-bind="vm.submitActionTitle"
              data-ng-click="vm.submit()"
      ></button>
    </div>
  </div>
</div>

