<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="{{$index}}-label">{{vm.message}}</h4>
</div>
<div class="modal-body">
   <button class="btn btn-success" ng-click="vm.respond(true)">YES</button>
   <button class="btn btn-danger" ng-click="vm.respond(false)">CANCEL</button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" ng-click="$dismiss()">Close</button>
</div>